{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = t('submission.liveness.fallback.inform.title') %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + "/liveness/record"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>
        {{ t('submission.liveness.fallback.inform.intro') }}
      </p>
      <p>
        {{ t('submission.liveness.fallback.inform.comparison') }}
      </p>
      <p>{{ t('submission.liveness.fallback.inform.permissions') }}</p>
      <h2 class="govuk-heading-s">{{ t('submission.liveness.fallback.inform.rulesHeading') }}</h2>
      <p>{{ t('submission.liveness.fallback.inform.rulesIntro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('submission.liveness.fallback.inform.rules.litArea') }}</li>
        <li>{{ t('submission.liveness.fallback.inform.rules.plainBackground') }}</li>
        <li>{{ t('submission.liveness.fallback.inform.rules.faceInFrame') }}</li>
        <li>{{ t('submission.liveness.fallback.inform.rules.noHatSunglasses') }}</li>
      </ul>
      {{ govukInsetText({
        text: t('submission.liveness.fallback.inform.inset')
      }) }}
      {{
        govukButton({
        text: t('common.buttons.continue'),
        href: "/" + submissionId + "/liveness/fallback-record"
        })
      }}
    </div>
  </div>
{% endblock %}
