{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../../../partials/layout.njk" %}

{% set pageTitle = t('submission.liveness.fallback.record.title') %}

{% block head %}
  {{ super() }}
  <link href="{{ '/assets/css/face-liveness.css' | assetMap }}" rel="stylesheet" />
{% endblock %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + "/liveness/fallback-inform"
    })
  }}
{% endblock %}

{% block content %}
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  <div id="fallbackRecordingScreen">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
        <p class="govuk-body">{{ t('submission.liveness.fallback.record.intro') }}</p>
        <div class="videoRecorder__container" id="fallbackVideoContainer">
          <div class="videoRecorder__videoWrap">
            <video id="fallbackVideo" class="videoRecorder__video" autoplay muted playsinline></video>
            <span class="videoRecorder__frame"></span>
            <canvas id="fallbackCanvas" hidden></canvas>
            <div id="fallbackStatusTag" class="govuk-tag govuk-tag--red videoRecorder__tag"></div>
          </div>
        </div>
        <div class="videoRecorder__error" id="fallbackCameraError" hidden>
          <div class="govuk-inset-text es-inset-text--error">
            <h2 class="govuk-heading-m es-heading--error">{{ t('submission.liveness.fallback.record.permissionsHeading') }}</h2>
            <p>
              {{ t('submission.liveness.fallback.record.permissionsBody') }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="fallbackStickyActionBar" class="sticky-action-bar">
      <div class="sticky-action-bar__inner">
        <button id="fallbackStartBtn" class="govuk-button" disabled aria-disabled="true">{{ t('submission.liveness.fallback.record.startButton') }}</button>
      </div>
    </div>
  </div>

  {% include "./partials/review.njk" %}
  {% include "./partials/loading.njk" %}
  {% include "./partials/match.njk" %}
  {% include "./partials/nomatch.njk" %}
  {% include "./partials/error.njk" %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ '/assets/js/fallback-video.js' | assetMap }}"></script>
{% endblock %}
