{% extends "./_layout.njk" %}

{% block guidanceContent %}
  <p class="govuk-body">All online check ins will include two questions:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>How have you been feeling since we last spoke?</li>
    <li>Is there anything you need support with or want to let us know about?</li>
  </ul>
  <p class="govuk-body">In addition to these two questions, you can add up to 3 additional bespoke questions, up to 23:59 the day before the check in link is sent.</p>
  <h3 class="govuk-heading-m">Writing questions for an online service</h3>
  <p class="govuk-body">Online check ins are very different to face to face appointments, as they remove the personal connection and can feel quite detached for people on probation.</p>
  <p class="govuk-body">We’ve also heard from people on probation that they are reluctant to write some things down as they are concerned it could be used against them.</p>
  <p class="govuk-body">Think about how the question will come across to someone reading it without the context of a face to face conversation.</p>
  <p class="govuk-body">You should:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>consider if a question is appropriate for an online service</li>
    <li>think about the person’s circumstances when asking questions about topics that could be upsetting or dangerous, such as drugs, alcohol or abusive relationships</li>
    <li>avoid asking about more than one topic in a single question</li>
    <li>avoid using complicated language or words that have a simpler alternative</li>
    <li>check spelling and grammar</li>
  </ul>
{% endblock %}
