{% extends "./_layout.njk" %}

{% block guidanceContent %}
  <p class="govuk-body">Before you sign someone up to use online check ins, you should have a conversation with them about how online check ins work, and their rights.</p>
  <p class="govuk-body">You should give the person as much information as possible, and allow them to go away and think about it if needed.</p>
  <h3 class="govuk-heading-m">What you need to know</h3>
  <p class="govuk-body">Using online check ins is not mandatory, and not checking in on time is not enforceable. A person can choose whether to use them or not.</p>
  <p class="govuk-body">You should explain that there is support available if someone is struggling with online check ins or worried about being able to use online check ins.</p>
  <h3 class="govuk-heading-m">What the person on probation needs to know</h3>
  <p class="govuk-body">People on probation need to understand:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>what online check ins are</li>
    <li>that they must agree to use online check ins</li>
    <li>they can stop using online check ins whenever they want</li>
    <li>online check ins are not enforceable, so no breach of conditions can be enforced if they miss a check in or ask to stop using them</li>
    <li>how their data is used</li>
    <li>that there is support available if they need help using or accessing technology to use online check ins</li>
  </ul>
  <p class="govuk-body">If the person wants more information, you can <a class="govuk-link govuk-link--no-visited-state" href="https://probation-check-in.hmpps.service.justice.gov.uk/guidance" rel="noreferrer noopener" target="_blank">send them a link to this information to learn more about online check ins (opens in new tab)</a> in their own time.</p>
  <h3 class="govuk-heading-m">How the person’s data is used</h3>
  <p class="govuk-body">We’ll use the information the person gives us as part of their check in to update you about how the person is doing, and if they need any support. This is stored in our system securely. <br>You can <a class="govuk-link" href="https://probation-check-in.hmpps.service.justice.gov.uk/privacy-notice" rel="noreferrer noopener" target="_blank">check our privacy policy to learn more about how we use the person’s data (opens in new tab)</a>.</p>
  <p class="govuk-body">If the person would like a copy of the information we hold about them, they are asked to contact you and ask. You can email the team and ask to see it. This is called a subject access request. If the person asks you to see the data held about them you should submit a subject access request on their behalf.</p>
  <p class="govuk-body">You can email the team at: <a class="govuk-link" href="mailto:data.access1@justice.gov.uk" rel="noreferrer noopener" target="_blank">data.access1@justice.gov.uk (opens in email app)</a>to ask for a copy of the information.</p>
  <h3 class="govuk-heading-m">The benefits of using online check ins for a person on probation</h3>
  <p class="govuk-body">Online check ins are a great way for people on probation to keep in touch with their probation officer. With supervision packages being introduced, online check ins will give people an opportunity to update you about their progress and ask for support if they need it, between face to face appointments.</p>
  <p class="govuk-body">Online check ins have helped people to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>complete a course for their job that face to face meetings would make it difficult to do</li>
    <li>check in without having to travel into the office if they have caring responsibilities</li>
    <li>save money on travel to probation appointments</li>
    <li>let their probation officer know they need support with something</li>
    <li>tell their probation officer about something positive that's happened</li>
  </ul>
  <h3 class="govuk-heading-m">Where you can find more information</h3>
  <p class="govuk-body">There is <a class="govuk-link govuk-link--no-visited-state" href="https://probation-check-in.hmpps.service.justice.gov.uk/guidance" rel="noreferrer noopener" target="_blank">guidance for people on probation (opens in new tab)</a> if they have any questions. You can also share the link to this guidance with them if they’d like to learn more. There is a link to guidance in the pack for people on probation.</p>
{% endblock %}
