{% extends "./_layout.njk" %}

{% block guidanceContent %}
  <p class="govuk-body">Before you sign someone up to use online check ins, you’ll need to find out if they’re eligible, and make sure you’ve had the conversation with them and explained why online check ins could help them.</p>
  <p class="govuk-body">When someone may be eligible to use online check ins, the online check ins section of their overview page in MPOP will show this information and there will be a button to allow you to check their eligibility. It will also show if someone is not eligible, and tell you why, and you will not be able to sign them up.</p>
  <p class="govuk-body">You'll need to check that they have no sentence conditions that prevent them from accessing the internet or using a device.</p>
{% endblock %}
