{% extends "./_layout.njk" %}

{% block guidanceContent %}
<h3 class="govuk-heading-m">Tell us your thoughts</h3>
<h4 class="govuk-heading-s">Quarterly feedback surveys</h4>
<p class="govuk-body">Every 3 months starting from October 2026, we’ll send you an email with a link to complete a survey letting us know how online check ins are working for you. As part of this survey, we’ll ask if you’d like to take part in a short one to one Teams call with our researcher to chat about online check ins in more detail. It is useful for us if you complete the survey every 3 months, so we can see how things change over time. If you’d like to submit feedback outside of the quarterly survey, you can <a class="govuk-link" href="https://www.smartsurvey.co.uk/t/AAGPPN?service=Online%20check%20ins" rel="noreferrer noopener" target="_blank">use the probation digital survey (opens in new tab)</a>.</p>
<h4 class="govuk-heading-s">Feedback from practitioners with people in Tiers A to C</h4>
<p class="govuk-body">We’re piloting continuing to use online check ins with people in Tiers A to C who are already using online check ins before 1 October 2026. We will contact practitioners with people in this pilot to help us understand how this has gone.</p>
<h3 class="govuk-heading-m">If a person on probation wants to give feedback</h3>
<h4 class="govuk-heading-s">Filling in the feedback survey</h4>
<p class="govuk-body">We have a <a class="govuk-link" href="https://probation-check-in.hmpps.service.justice.gov.uk/feedback" rel="noreferrer noopener" target="_blank">feedback form for people using online check ins (opens in new tab).</a> This is to understand their experiences.</p>
<p class="govuk-body">They will be able to access this:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>when completing their check in</li>
  <li>using a link within the confirmation notification they receive when they’ve checked in</li>
</ul>
<p class="govuk-body">You can also complete this feedback form with them in face to face appointments.</p>
<h3 class="govuk-heading-m">If someone stops using online check ins</h3>
<p class="govuk-body">If someone stops using online check ins, they’ll get a link to complete a survey in the text or email they get when check ins stop. They will not get this notification if they've been recalled to prison or passed away. You should encourage the person to complete this, as it helps us to improve the service.</p>
<h3 class="govuk-heading-m">Other ways we might ask people on probation for feedback</h3>
<p class="govuk-body">There may be other ways we ask people on probation to give feedback about online check ins or other services for them. For example, a staff member might contact them to talk about their experience. This will be someone who is responsible for collecting feedback to help us make online probation systems better.</p>
<p class="govuk-body">Giving feedback about online check ins and taking part in research will not affect their probation.</p>
<h3 class="govuk-heading-m">What we do with your feedback</h3>
<p class="govuk-body">If something in online check ins is not working or online check ins go down, your feedback will enable us to fix these issues as soon as possible. Your feedback will also help us to improve the design and the way it works.</p>
<h2 class="govuk-heading-l">Case studies</h2>
<p class="govuk-body">We will be adding real case studies at a later date to help you understand how you can get value from online check ins. Here are some examples based on hypothetical scenarios, using the research we’ve done with people on probation and probation practitioners.</p>
<h3 class="govuk-heading-m">Stuart – Providing additional support</h3>
<p class="govuk-body">Stuart is in Tier E, and must be seen in person every 12 weeks. I have 13 appointments for Stuart in the year.</p>
<p class="govuk-body">I'm seeing Stuart the minimum amount, as he is stable and compliant and I have no concerns about him. This means I have additional in person appointments spare if needed.</p>
<p class="govuk-body">I've had an appointment with Stuart, and have another booked for 12 weeks time, but I know it is Stuart's birthday in a couple of weeks, which he finds challenging. I could book in an in person appointment as he has 9 still to use, however I don't think that level of risk monitoring is needed, as he is stable and I know that a brief check in should be enough.</p>
<p class="govuk-body">Instead, I choose to use check ins as and when needed, and I schedule an online check in for his birthday, allowing him to stay in touch and let me know if he needs support.</p>
<p class="govuk-body">It gives me the time it would've taken in an in person appointment back to use for other things. It also means Stuart feels supported at what I know is a challenging time.</p>
<h3 class="govuk-heading-m">Lucy – Helping fit probation around other things</h3>
<p class="govuk-body">Lucy is in Tier D, and must be seen in person every 8 weeks. I've needed to see her every 4 weeks in person to help monitor risk.</p>
<p class="govuk-body">Lucy has become more stable since we started meeting, and has a new job which makes it more difficult to schedule appointments every 4 weeks.</p>
<p class="govuk-body">Because Lucy is more stable and doesn't need to be seen in person as much, I've decided to reduce in person appointments to the minimum of every 8 weeks, and add an online check in to fill the gap.</p>
<p class="govuk-body">This means it's easier for Lucy to work in person appointments around her new job, but gives us contact in case she needs support and to help me to monitor her risk.</p>
<h3 class="govuk-heading-m">Dave – Providing continued support</h3>
<p class="govuk-body">Dave is in Tier F, and has a maximum of 10 in person appointments.</p>
<p class="govuk-body">Although Dave only has to be seen in person every 12 weeks, he's been going through some challenges meaning we've had more regular in person contact.</p>
<p class="govuk-body">It's coming to the end of the year, and I've only got 2 in person appointments left.</p>
<p class="govuk-body">To reduce the need to use contingency appointments, and because Dave is now more stable, I've added online check ins to give us additional contact between the 2 face to face appointments I have left, to help me monitor his risk, and give him the opportunity to ask for support and keep me updated about how he's doing.</p>
<p class="govuk-body">This means Dave is still supported, and I can make sure he's OK.</p>
<p class="govuk-body">It reduces the time I'm spending with Dave, so I can save my capacity for people who need more support. It also means I don't need to use contingency appointments for Dave.</p>{% endblock %}
