{% extends "./_layout.njk" %}

{% block guidanceContent %}
  <p class="govuk-body">There are different rules for different Tiers, but only people on a supervision package will be eligible. You can find out if someone is eligible in MPOP. In some cases, you’ll be able to see if they are not eligible on the overview page. If they may be eligible, you’ll then need to confirm their eligibility. This will show a list of items that may apply to the person. You’ll need to check they have no sentence conditions that prevent them from accessing the internet or using a device.</p>
  <p class="govuk-body">You’ll then be asked to confirm you have spoken to the person and made sure they want to use online check ins.</p>
  <p class="govuk-body">You can use online check ins as an additional contact in most cases.</p>
  <h3 class="govuk-heading-m">If someone started using online check ins before 1 October 2026</h3>
  <p class="govuk-body">If you have people on your caseload who started using online check ins before 1 October 2026, they will be able to continue using them regardless of their Tier, as long as they're on a supervision package. You’ll need to check their new minimum level of contact, as you’ll no longer be able to use online check ins to reduce the minimum. You can use as many online check ins as you want above the minimum face to face contact levels.</p>
  <h3 class="govuk-heading-m">Tiers D to G</h3>
  <p class="govuk-body">You can use online check ins as an additional contact with anyone in Tiers D to G (as long as they are not in their final third, and have no other restrictions that would affect their ability to access or use the internet or devices) to give you an update between face to face appointments.</p>
  <p class="govuk-body">If any of your cases are in Tiers A to C, there are different rules.</p>
  <h3 class="govuk-heading-m">Tiers A to C</h3>
  <p class="govuk-body">If anyone in Tier A to C started using online check ins before 1 October 2026, they are eligible to use them going forward. If you have any cases in tiers A to C that started using online check ins before 1 October 2026, you may use online check ins with anyone else on your caseload too.</p>
  <p class="govuk-body">There is currently a pilot to test using online check ins with people who are on a supervision package in Tiers A to C. When this pilot ends in March 2027, a decision will be made about whether to roll out usage to all people on a supervision package in Tiers A to C.</p>
  <p class="govuk-body">If you do not have any people who started using online check ins before 1 October 2026, no one on your caseload in Tiers A to C will be eligible, unless they’re in Tier A or B and on an accredited programme.</p>
  <h3 class="govuk-heading-m">Tiers A and B on accredited programmes</h3>
  <p class="govuk-body">People in Tiers A and B who have not used online check ins before 1 October 2026 are eligible for online check ins to reduce some face to face contact, if they are on an accredited programme.</p>
  <p class="govuk-body">This decision was made following consultation with probation practitioners about the increased level of contact for those on accredited programmes. You must see these people at least once a month face to face, but can use online check ins for additional contact, while they’re on the accredited programme.</p>
  <p class="govuk-body">Once their accredited programme ends, they must stop using online check ins.</p>
  <h3 class="govuk-heading-m">Other people who are not eligible</h3>
  <p class="govuk-body">People on the Intensive Supervision Court (ISC) pilot, and those who are managed by the National Security Division (NSD) will not be eligible to use online check ins as they are not on a supervision package.</p>
  <p class="govuk-body">If someone has sentence conditions that mean they cannot use a device or the internet, they will not be eligible for online check ins as they need the person to have access to a device and the internet to check in.</p>
{% endblock %}
