{% extends "./_layout.njk" %}

{% block guidanceContent %}
  <p class="govuk-body">If you’re struggling to use online check ins, you can contact the online check ins support mailbox at <a class="govuk-link" href="mailto:checkinwithprobation@justice.gov.uk" rel="noreferrer noopener" target="_blank">checkinwithprobation@justice.gov.uk (opens in email app)</a> for support.</p>
  <h3 class="govuk-heading-m">If a person on probation cannot check in</h3>
  <p class="govuk-body">There could be a few reasons why someone cannot check in, including if they:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>are outside the UK or getting an error page stating they are outside the UK</li>
    <li>are having issues accessing their check in link using their details</li>
    <li>haven’t received their check in link</li>
    <li>are struggling to read the questions or answer them</li>
    <li>struggle with technology and accessing digital services</li>
  </ul>
  <h3 class="govuk-heading-m">If a person is outside the UK and trying to check in</h3>
  <p class="govuk-body">It is not possible to check in from outside the UK. If the person receives a link while travelling outside the UK, they'll see a message letting them know they cannot do this outside the UK.</p>
  <p class="govuk-body">Some people may be in the UK but using a Virtual Private Network (VPN). If they contact you to say they are getting that message and are in the UK, you should let them know they need to turn off any VPN they may be using and try again.</p>
  <h3 class="govuk-heading-m">If they are struggling to match their details</h3>
  <p class="govuk-body">If someone is trying to access their check in but their details are failing to match, check their record in MPOP to make sure their details are right. Ask if they’re using a nickname. The details they enter must match up with what we hold on their record.</p>
  <h3 class="govuk-heading-m">If they are struggling to read the questions or answer them</h3>
  <p class="govuk-body">You should let the person know that they do not have to use online check ins if they’re struggling to read or write. We’ve designed online check ins to be as simple as possible for people to understand. The person can use speech to text on their device to help them. You should also make sure any questions you ask are as clear as possible.</p>
  <h3 class="govuk-heading-m">Struggling with using technology and accessing digital services</h3>
  <p class="govuk-body">If the person needs help using online check ins, they can go to the reception at their probation office and ask to speak to an Engaging People on Probation (EPOP) representative. They may be able to help the person with using technology.</p>
  <p class="govuk-body">You can also start off scheduling check ins one at a time, to give the person a practice check in and see if they are able to complete this. We’ve designed online check ins to be simple to use for people on probation.</p>
  <h3 class="govuk-heading-m">Contacting the support mailbox</h3>
  <p class="govuk-body">Use the <a class="govuk-link" href="mailto:checkinwithprobation@justice.gov.uk" rel="noreferrer noopener" target="_blank">checkinwithprobation@justice.gov.uk (opens in email app)</a> mailbox to tell us if:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>online check ins are not working</li>
    <li>something in online check ins is not working as expected</li>
    <li>someone you manage is struggling to use online check ins and needs support</li>
    <li>someone asks for their data to be deleted</li>
    <li>someone submits a Subject Access Request (SAR)</li>
  </ul>
{% endblock %}
