{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">Online check ins are an online form sent to people on probation to allow them to update you about their needs and how they are feeling. You can check if someone is eligible and sign them up to use online check ins in Manage People on Probation (MPOP). The person will get a link to the form, asking some questions about how they are and if they need any support. We’ll then ask them to verify their identity to confirm it’s them completing the check in.</p>
<p class="govuk-body">Once they have completed their check in, you’ll review their answers and can use this information to help monitor risk.</p>
<h3 class="govuk-heading-m">What you'll need to do when using online check ins</h3>
<p class="govuk-body">If you choose to use online check ins with anyone on your caseload, you'll need to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>check if they’re eligible for online check ins</li>
  <li>have a conversation with the person to check if they want to use online check ins as this is optional</li>
  <li>sign them up to use online check ins</li>
  <li>check your email for notifications that they have checked in successfully, missed a check in, or if someone's online check ins have been automatically stopped</li>
  <li>go into MPOP to review their check in or add information if they've missed a check in</li>
  <li>use MPOP to make changes like if you need to stop online check ins or update the person's contact details</li>
</ul>
<h3 class="govuk-heading-m">The process for online check ins</h3>
<ol class="govuk-list govuk-list--number">
  <li>Sign up the person to use online check ins, by choosing which sentence to link their online check ins to if they have multiple, entering their contact details, adding a photo of the person, and choosing when to schedule the check ins.</li>
  <li>The system will send the person a notification to the contact details you chose, letting them know they've been signed up to use online check ins, and if relevant, the date of their first check in and the frequency. You can choose to schedule check ins on a regular frequency, or choose to schedule them one at a time. If you've chosen to schedule check ins one at a time, they'll be advised to wait until they get a notification about a check in.</li>
  <li>You'll get an email when the check in is due to be sent, asking if you'd like to add any additional bespoke questions to their check in. You can add up to 3 bespoke questions.</li>
  <li>The person will be sent a link when it's time to check in and must complete their check in within 3 days.</li>
  <li>You'll get an email notification that the person has checked in, or if they miss the deadline to check in.</li>
  <li>Click the link in the email to go directly to the person's check in, or the page to enter information about why they've missed their check in.</li>
  <li>Review the person's check in, checking they are the person in the photo they take as part of their check in, and reviewing the answers to their questions.</li>
  <li>Confirm you're happy with the check in and mark it as reviewed.</li>
  <li>Take any follow-on steps needed.</li>
</ol>
{% endblock %}
