{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">You’ll get an email each time someone:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>submits a check in</li>
  <li>misses a check in</li>
</ul>
<h3 class="govuk-heading-m">If someone misses a check in</h3>
<p class="govuk-body">The email letting you know someone has missed a check in will have a link directly to the online check ins part of MPOP for that person, so you can add information about why the person has failed to check in.</p>
<p class="govuk-body">You should speak to the person to find out why they missed their check in then record this information. This will be saved as a contact in NDelius. Online check ins will not be linked to the person’s conditions, and there will be no breaches.</p>
<h3 class="govuk-heading-m">Reviewing a submitted check in</h3>
<p class="govuk-body">You'll get an email letting you know when someone has checked in, with a link to go directly to the check in within their MPOP case file.</p>
<p class="govuk-body">You'll be able to review the answers to their questions, and the photo submitted as part of their identity check.</p>
<p class="govuk-body">You'll be asked:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>to confirm the ID check photo is the right person, and if you see anything concerning or not</li>
  <li>if there are any actions you're taking after reviewing their check in</li>
  <li>to confirm whether or not the check in information contains sensitive information</li>
  <li>if the check in helped you monitor their risk</li>
</ul>
<p class="govuk-body">When you complete the review, this will be logged as a contact in NDelius. You can come back to each check in at any time to add more notes if needed.</p>
<h3 class="govuk-heading-m">How long we keep photos from check ins</h3>
<p class="govuk-body">When you review a check in, you’ll confirm that the photo of the person taken during the check in is the person you’re expecting to complete the check in. </p>
<p class="govuk-body">When you review this photo, you’ll be asked to confirm if the photo is:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the right person, and shows nothing concerning</li>
  <li>the right person and shows a visible concern</li>
  <li>the wrong person</li>
</ul>
<p class="govuk-body">Depending on what you choose, the photo will be kept for different amounts of time.</p>
<p class="govuk-body">Images from check ins where there is no concern are automatically deleted after you complete the review.</p>
<p class="govuk-body">Images that didn’t match the person who should have checked in are kept for 28 days.</p>
<p class="govuk-body">Images that showed something of concern are kept for 6 years.</p>
{% endblock %}
