{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">Once you've checked the person is eligible, you'll be asked:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>if the person is Tier A or B and on an accredited programme, to confirm their accredited programme treatment manager has agreed to a reduction in the minimum face to face contact</li>
  <li>the person’s preferred contact method and those details</li>
  <li>to take or upload a photograph of the person we can use to match their identity during the ID check they’ll complete as part of their check in</li>
  <li>how often you want them to check in, and the date you’d like them to start using the check in service</li>
</ul>
<h3 class="govuk-heading-m">Choosing how often a person checks in</h3>
<p class="govuk-body">You can choose whether to set up online check ins on a recurring schedule or schedule a single check in at a time.</p>
<p class="govuk-body">Recurring check ins can be set up for every:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>1 week</li>
  <li>2 weeks</li>
  <li>4 weeks</li>
  <li>8 weeks</li>
</ul>
<p class="govuk-body">If you choose to schedule check ins one at a time, you'll only be able to schedule one check in, and can then add another after the previous one has been completed or missed. It does not allow you to schedule multiple dates.</p>
<h3 class="govuk-heading-m">Taking or uploading a photo</h3>
<p class="govuk-body">If you want to use a laptop to sign the person up and take the photo, you’ll need to use the laptop webcam to take the photo of the person on probation. Turn off any notifications and close any open windows or tabs before doing so – to make sure the person on probation doesn’t see any sensitive information or anything unrelated to setting them up on the service.</p>
<p class="govuk-body">You can also take a photo of the person on your phone and send it to yourself to upload into the service.</p>
<p class="govuk-body">You must delete all copies of the photo once you’ve uploaded it – this includes any copies saved on your phone, your laptop, in your sent and received emails, on Teams or in SharePoint.</p>
{% endblock %}
