{% extends "./_layout.njk" %}

{% block guidanceContent %}
  <p class="govuk-body">You can choose to stop someone using online check ins, or cancel a single upcoming online check in. You can also restart check ins for someone when you’ve previously stopped them.</p>
  <h3 class="govuk-heading-m">If someone wants to stop online check ins</h3>
  <p class="govuk-body">If a person on your caseload wants to stop using online check ins, you can stop their check ins within MPOP. This will stop the links being sent, and they’ll get a confirmation text or email saying that online check ins have been stopped.</p>
  <p class="govuk-body">This will not delete any data and you will still be able to access past check ins. If they decide they want to start using online check ins again, you can restart check ins in MPOP.</p>
  <h3 class="govuk-heading-m">If you want to stop using online check ins with someone</h3>
  <p class="govuk-body">If you decide online check ins are no longer suitable for someone, or that they no longer need additional contact, you can choose to stop online check ins for that person.</p>
  <p class="govuk-body">You can do with within their case file in MPOP, in the online check ins page.</p>
  <h3 class="govuk-heading-m">Restarting online check ins</h3>
  <p class="govuk-body">If you have stopped online check ins for someone and decide they are now suitable to use them again, you can choose to restart their online check ins. You’ll be asked:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>to choose which sentence to attach online check ins to if the person has more than one active sentence</li>
    <li>if the person is Tier A or B and on an accredited programme, to confirm their accredited programme treatment manager has agreed to a reduction in face to face contact</li>
    <li>the person’s preferred contact method and those details</li>
    <li>to take or upload a photograph of the person we can use to match their identity during the ID check they’ll complete as part of their check in</li>
    <li>how often you want them to check in, and the date you’d like them to start using the check in service</li>
  </ul>
{% endblock %}
