{% extends "./_layout.njk" %}

{% block guidanceContent %}
  <h3 class="govuk-heading-m">If you need to take time off</h3>
  <p class="govuk-body">If you have annual leave or other leave which means you’ll be unable to review completed check ins, you should talk to the practitioner who will be covering your cases and tell them when the person is expected to check in.</p>
  <p class="govuk-body">They will not get notifications for the person, so will need to search for them in MPOP to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>find out if they’ve checked in</li>
    <li>review their check in</li>
    <li>carry out any follow up tasks needed</li>
  </ul>
  <h3 class="govuk-heading-m">Transferring a person on probation to a new practitioner</h3>
  <p class="govuk-body">When a person is being transferred to another practitioner, at the handover meeting you should discuss whether the use of online check ins is still suitable.</p>
  <p class="govuk-body">You can choose to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>continue using online check ins as normal</li>
    <li>make changes to the frequency if needed</li>
    <li>stop online check ins if you decide that is appropriate</li>
  </ul>
  <p class="govuk-body">Once the transfer is accepted and has been actioned in the system, the new practitioner will be responsible for reviewing online check ins.</p>
{% endblock %}
