{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">You can update a person’s details in MPOP using the online check ins page in their case file.</p>
<h3 class="govuk-heading-m">Updating contact details or preferred contact method</h3>
<p class="govuk-body">You can view and change a person’s contact details in MPOP. This allows you to change their mobile number or email address, and the contact method they’d like to use to get their check in links.</p>
<p class="govuk-body">If you change contact details in MPOP, this will update the contact details in NDelius.</p>
<h3 class="govuk-heading-m">Changing check in frequency or date</h3>
<p class="govuk-body">You can choose a new check in date and frequency in MPOP. This allows you to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>change how often you want the person to check in</li>
  <li>change the date that you want the person to check in</li>
</ul>
{% endblock %}
