{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">When a person clicks the link to online check ins they will be taken to a form to fill in. <a class="govuk-link" href="https://www.veed.io/view/e32f7383-29a6-4f8e-8e8b-0a7bc02da162" rel="noreferrer noopener" target="_blank">You can watch a short video of how this works (opens in new tab)</a>.</p>
<h3 class="govuk-heading-m">Texts or emails the person will get</h3>
<p class="govuk-body">Once signed up to use online check ins, the person will get a notification by text or email:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>confirming they have been signed up, and the date of their first check in and how often they will need to check in, if you've scheduled a recurring check in</li>
  <li>when it is time to check in, including the link to complete the check in, and the date and time of the deadline</li>
  <li>Reminding them to check in if they haven't completed their check in by the final day</li>
  <li>confirming that they have submitted their check in</li>
  <li>if you stop their online check ins</li>
  <li>if you change the frequency or date of their next online check in</li>
</ul>
<h3 class="govuk-heading-m">What the online check in contains</h3>
<p class="govuk-body">The online check in will ask the person to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>enter their name and date of birth, to verify it's them accessing the check in</li>
  <li>answer two questions about how they are and if they need support</li>
  <li>answer any additional questions you choose to add to the check in</li>
  <li>perform a quick identity check using their camera</li>
</ul>
{% endblock %}
