{% extends "./_layout.njk" %}

{% block guidanceContent %}
  <p class="govuk-body">We record information relating to online check ins in NDelius as contacts. You can check the contacts section of MPOP for a person to see what is recorded.</p>
  <p class="govuk-body">We record:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>when online check ins are set up and scheduled</li>
    <li>submitted or missed check ins</li>
    <li>check ins where the link could not be delivered</li>
    <li>when check ins are stopped, cancelled or restarted</li>
    <li>when you’ve reviewed a submitted or missed check in</li>
    <li>a person’s answers to an online check in and the result of their ID check</li>
    <li>any notes you add to the check in when reviewing</li>
  </ul>
  <p class="govuk-body">You’ll be able to add notes to each check in as you review them, and can also go back into a check in that’s been reviewed to add further notes if needed. This information is all saved in the contact for the check in.</p>
{% endblock %}
