{% extends "layouts/form.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set pageTitle = t('questions.assistance.pageTitle') %}

{% block formContent %}
  {% set content = getContent('questions.assistance') %}

  {# Build checkbox items with conditional textareas #}
  {% set checkboxItems = [] %}
  {% for option in assistanceOptions %}
    {% if option.divider %}
      {# This is a divider #}
      {% set checkboxItems = (checkboxItems.push({
        divider: option.divider
      }), checkboxItems) %}
    {% else %}
      {# Build the item #}
      {% set item = {
        value: option.value,
        text: option.text,
        checked: checked("assistance", option.value)
      } %}

      {# Add exclusive behaviour if present #}
      {% if option.behaviour %}
        {% set item = item | merge({ behaviour: option.behaviour }) %}
      {% endif %}

      {# Add conditional textarea if present #}
      {% if option.conditional %}
        {% set conditionalHtml %}
          {{ govukTextarea({
            name: option.conditional.fieldName,
            id: option.conditional.fieldName,
            errorMessage: validationErrors | findError(option.conditional.fieldName),
            value: formData[option.conditional.fieldName],
            label: {
              text: option.conditional.label
            }
          }) }}
        {% endset %}
        {% set item = item | merge({ conditional: { html: conditionalHtml } }) %}
      {% endif %}

      {% set checkboxItems = (checkboxItems.push(item), checkboxItems) %}
    {% endif %}
  {% endfor %}

  {{ govukCheckboxes({
    name: "assistance",
    errorMessage: validationErrors | findError("assistance"),
    fieldset: {
      legend: {
        text: content.title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: checkboxItems
  }) }}
{% endblock %}
