{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../../partials/layout.njk" %}

{% set title = t('submission.questions.assistance.title') %}
{% set pageTitle = title %}
{% set hintText = t('submission.questions.assistance.hint') %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + ("/liveness/check-your-answers" if flags.faceLiveness else "/check-your-answers") if cya else "/" + submissionId + "/questions/mental-health"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors, t('common.errorSummary.title')) }}


      {% set mentalHealthSupport %}
        {{
          govukTextarea({
            name: "mentalHealthSupport",
            id: "mentalHealthSupport",
            rows: "10",
            errorMessage: validationErrors | findError("mentalHealthSupport"),
            value: formData["mentalHealthSupport"],
            label: {
              text: t('submission.questions.assistance.labels.mentalHealth')
            }
          })
        }}
      {% endset -%}


      {% set alcoholSupport %}
        {{
          govukTextarea({
            name: "alcoholSupport",
            id: "alcoholSupport",
            rows: "10",
            errorMessage: validationErrors | findError("alcoholSupport"),
            value: formData["alcoholSupport"],
            label: {
              text: t('submission.questions.assistance.labels.alcohol')
            }
          })
        }}
      {% endset -%}


      {% set drugsSupport %}
        {{
          govukTextarea({
            name: "drugsSupport",
            id: "drugsSupport",
            rows: "10",
            errorMessage: validationErrors | findError("drugsSupport"),
            value: formData["drugsSupport"],
            label: {
              text: t('submission.questions.assistance.labels.drugs')
            }
          })
        }}
      {% endset -%}


      {% set moneySupport %}
        {{
          govukTextarea({
            name: "moneySupport",
            id: "moneySupport",
            rows: "10",
            errorMessage: validationErrors | findError("moneySupport"),
            value: formData["moneySupport"],
            label: {
              text: t('submission.questions.assistance.labels.money')
            }
          })
        }}
      {% endset -%}


      {% set housingSupport %}
        {{
          govukTextarea({
            name: "housingSupport",
            id: "housingSupport",
            rows: "10",
            errorMessage: validationErrors | findError("housingSupport"),
            value: formData["housingSupport"],
            label: {
              text: t('submission.questions.assistance.labels.housing')
            }
          })
        }}
      {% endset -%}

      {% set employmentEduSupport %}
        {{
          govukTextarea({
            name: "employmentEduSupport",
            id: "employmentEduSupport",
            rows: "10",
            errorMessage: validationErrors | findError("employmentEduSupport"),
            value: formData["employmentEduSupport"],
            label: {
              text: t('submission.questions.assistance.labels.employmentEdu')
            }
          })
        }}
      {% endset -%}


      {% set supportSystemSupport %}
        {{
          govukTextarea({
            name: "supportSystemSupport",
            id: "supportSystemSupport",
            rows: "10",
            errorMessage: validationErrors | findError("supportSystemSupport"),
            value: formData["supportSystemSupport"],
            label: {
              text: t('submission.questions.assistance.labels.supportSystem')
            }
          })
        }}
      {% endset -%}
      {% set otherSupport %}
        {{
          govukTextarea({
            name: "otherSupport",
            id: "otherSupport",
            rows: "10",
            errorMessage: validationErrors | findError("otherSupport"),
            value: formData["otherSupport"],
            label: {
              text: t('submission.questions.assistance.labels.other')
            }
          })
        }}
      {% endset -%}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukCheckboxes({
            name: "assistance",
            errorMessage: validationErrors | findError("assistance"),
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: hintText
            },
            items: [
              {
                value: "MENTAL_HEALTH",
                text: t('submission.questions.assistance.options.mentalHealth'),
                checked: checked("assistance", "MENTAL_HEALTH"),
                conditional: {
                  html: mentalHealthSupport
                }
              },
              {
                value: "ALCOHOL",
                text: t('submission.questions.assistance.options.alcohol'),
                checked: checked("assistance", "ALCOHOL"),
                conditional: {
                  html: alcoholSupport
                }
              },
              {
                value: "DRUGS",
                text: t('submission.questions.assistance.options.drugs'),
                checked: checked("assistance", "DRUGS"),
                conditional: {
                  html: drugsSupport
                }
              },
              {
                value: "MONEY",
                text: t('submission.questions.assistance.options.money'),
                checked: checked("assistance", "MONEY"),
                conditional: {
                  html: moneySupport
                }
              },
              {
                value: "HOUSING",
                text: t('submission.questions.assistance.options.housing'),
                checked: checked("assistance", "HOUSING"),
                conditional: {
                  html: housingSupport
                }
              },
              {
                value: "EMPLOYMENT_EDU",
                text: t('submission.questions.assistance.options.employmentEdu'),
                checked: checked("assistance", "EMPLOYMENT_EDU"),
                conditional: {
                  html: employmentEduSupport
                }
              },
              {
                value: "SUPPORT_SYSTEM",
                text: t('submission.questions.assistance.options.supportSystem'),
                checked: checked("assistance", "SUPPORT_SYSTEM"),
                conditional: {
                  html: supportSystemSupport
                }
              },
              {
                value: "OTHER",
                text: t('submission.questions.assistance.options.other'),
                checked: checked("assistance", "OTHER"),
                conditional: {
                  html: otherSupport
                }
              },
              {
                divider: t('submission.questions.assistance.divider')
              },
              {
                value: "NO_HELP",
                checked: checked("assistance", "NO_HELP"),
                text: t('submission.questions.assistance.options.noHelp'),
                behaviour: "exclusive"
              }
            ]
          })
        }}

        {{
          govukButton({
            text: t('common.buttons.continue')
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
