{% extends "layouts/form.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = t('questions.callback.pageTitle') %}

{% block formContent %}
  {% set content = getContent('questions.callback') %}

  {# Build conditional textarea for YES option #}
  {% set callbackDetailsHtml %}
    {{ govukTextarea({
      name: "callbackDetails",
      id: "callbackDetails",
      errorMessage: validationErrors | findError("callbackDetails"),
      value: formData["callbackDetails"],
      label: {
        text: conditionalLabel
      }
    }) }}
  {% endset %}

  {# Build radio items #}
  {% set radioItems = [] %}
  {% for option in callbackOptions %}
    {% set item = {
      value: option.value,
      text: option.text,
      checked: checked("callback", option.value)
    } %}

    {# Add conditional textarea for YES option #}
    {% if option.value == "YES" %}
      {% set item = item | merge({ conditional: { html: callbackDetailsHtml } }) %}
    {% endif %}

    {% set radioItems = (radioItems.push(item), radioItems) %}
  {% endfor %}

  {{ govukRadios({
    name: "callback",
    errorMessage: validationErrors | findError("callback"),
    hint: {
      text: content.hint
    },
    fieldset: {
      legend: {
        text: content.title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: radioItems
  }) }}

  {{ govukInsetText({
    text: content.insetText
  }) }}
{% endblock %}
