{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../../partials/layout.njk" %}

{% set title = t('submission.questions.callback.title') %}
{% set pageTitle = title %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + ("/liveness/check-your-answers" if flags.faceLiveness else "/check-your-answers") if cya else "/" + submissionId + "/questions/assistance"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors, t('common.errorSummary.title')) }}


      {% set callbackDetails %}
        {{
          govukTextarea({
            name: "callbackDetails",
            id: "callbackDetails",
            errorMessage: validationErrors | findError("callbackDetails"),
            value: formData["callbackDetails"],
            label: {
              text: t('submission.questions.callback.detailsLabel')
            }
          })
        }}
      {% endset -%}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukRadios({
              name: "callback",
              errorMessage: validationErrors | findError("callback"),
              value: formData["callback"],
              hint: {
                text: t('submission.questions.callback.hint')
              },
              fieldset: {
                legend: {
                  text: title,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
              {
                value: "YES",
                text: t('submission.questions.callback.options.yes'),
                conditional: {
                                  html: callbackDetails
                                }
              },
              {
                value: "NO",
                text: t('submission.questions.callback.options.no')
              }
            ]
          })
        }}
        {{
          govukInsetText({
            text: t('submission.questions.callback.inset')
          })
        }}
        {{
          govukButton({
            text: t('common.buttons.continue')
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
