{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = t('submission.questions.mentalHealth.title') %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + ("/liveness/check-your-answers" if flags.faceLiveness else "/check-your-answers") if cya else "/" + submissionId + "/verify"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors, t('common.errorSummary.title')) }}
      {% set veryWellHtml %}
        {{ govukTextarea({
          name: "mentalHealthVeryWell",
          id: "mentalHealthVeryWell",
          label: { text: t('submission.questions.mentalHealth.veryWellLabel') },
          value: formData["mentalHealthVeryWell"],
          errorMessage: validationErrors | findError("mentalHealthVeryWell")
        }) }}
      {% endset -%}

      {% set wellHtml %}
        {{ govukTextarea({
          name: "mentalHealthWell",
          id: "mentalHealthWell",
          label: { text: t('submission.questions.mentalHealth.wellLabel') },
          value: formData["mentalHealthWell"],
          errorMessage: validationErrors | findError("mentalHealthWell")
        }) }}
      {% endset -%}

      {% set okHtml %}
        {{ govukTextarea({
          name: "mentalHealthOk",
          id: "mentalHealthOk",
          label: { text: t('submission.questions.mentalHealth.okLabel') },
          value: formData["mentalHealthOk"],
          errorMessage: validationErrors | findError("mentalHealthOk")
        }) }}
      {% endset -%}

      {% set notGreatHtml %}
        {{ govukTextarea({
          name: "mentalHealthNotGreat",
          id: "mentalHealthNotGreat",
          label: { text: t('submission.questions.mentalHealth.notGreatLabel') },
          value: formData["mentalHealthNotGreat"],
          errorMessage: validationErrors | findError("mentalHealthNotGreat")
        }) }}
      {% endset -%}

      {% set strugglingHtml %}
        {{ govukTextarea({
          name: "mentalHealthStruggling",
          id: "mentalHealthStruggling",
          label: { text: t('submission.questions.mentalHealth.strugglingLabel') },
          value: formData["mentalHealthStruggling"],
          errorMessage: validationErrors | findError("mentalHealthStruggling")
        }) }}
      {% endset -%}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukRadios({
          name: "mentalHealth",
          errorMessage: validationErrors | findError("mentalHealth"),
          value: formData["mentalHealth"],
          hint: {
            text: t('submission.questions.mentalHealth.hint')
          },
          fieldset: {
            legend: {
              text: t('submission.questions.mentalHealth.legend'),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
              {
                value: "VERY_WELL",
                text: t('submission.questions.mentalHealth.options.veryWell'),
                conditional: {
                  html: veryWellHtml
                }
              },
              {
                value: "WELL",
                text: t('submission.questions.mentalHealth.options.well'),
                conditional: {
                  html: wellHtml
                }
              },
              {
                value: "OK",
                text: t('submission.questions.mentalHealth.options.ok'),
                conditional: {
                  html: okHtml
                }
              },
              {
                value: "NOT_GREAT",
                text: t('submission.questions.mentalHealth.options.notGreat'),
                conditional: {
                  html: notGreatHtml
                }
              },
              {
                value: "STRUGGLING",
                text: t('submission.questions.mentalHealth.options.struggling'),
                conditional: {
                  html: strugglingHtml
                }
              }
            ]
          })
        }}
        {{
          govukInsetText({
            html: t('submission.questions.mentalHealth.insetHtml')
          })
        }}
        {{
          govukButton({
            text: t('common.buttons.continue')
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
