{% extends "layouts/form.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = t('questions.mentalHealth.pageTitle') %}

{% block formContent %}
  {% set content = getContent('questions.mentalHealth') %}

  {# Build radio items from controller-provided options #}
  {% set radioItems = [] %}
  {% for option in mentalHealthOptions %}
    {% set radioItems = (radioItems.push({
      value: option.value,
      text: option.text,
      checked: checked("mentalHealth", option.value)
    }), radioItems) %}
  {% endfor %}

  {{ govukRadios({
    name: "mentalHealth",
    errorMessage: validationErrors | findError("mentalHealth"),
    hint: {
      text: content.hint
    },
    fieldset: {
      legend: {
        text: content.title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: radioItems
  }) }}

  {{ govukInsetText({
    html: content.nhsLink
  }) }}
{% endblock %}
