{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "How are you feeling?" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/" + submissionId + "/check-your-answers" if cya else "/" + submissionId + "/verify"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukRadios({
          name: "mentalHealth",
          errorMessage: validationErrors | findError("mentalHealth"),
          value: formData["mentalHealth"],
          hint: {
            text: "Think about things like if you have noticed a change in your mood and what may have caused this."
          },
          fieldset: {
          legend: {
          text: "How have you been feeling since we last spoke?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
          },
          items: [
              {
                value: "VERY_WELL",
                text: "Very well"
              },
              {
                value: "WELL",
                text: "Well"
              },
              {
                value: "OK",
                text: "OK"
              },
              {
                value: "NOT_GREAT",
                text: "Not great"
              },
              {
                value: "STRUGGLING",
                text: "Struggling"
              }
            ]
          })
        }}
        {{
          govukInsetText({
            html: 'If you need to speak to someone urgently about how you are feeling, check the <a href="https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/behaviours/help-for-suicidal-thoughts/" class="govuk-link" target="_blank">NHS website for help (opens in new tab)</a>.'
          })
        }}
        {{
          govukButton({
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
