{% extends "./layout.njk" %}
{% set pageTitle = "Accessibility statement for Manage probation check ins" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>This accessibility statement applies to Manage probation check ins.</p>
      <p>
        This website is run by Ministry of Justice (MOJ). We want as many people as possible to be able to use this
        website. For example, that means you should be able to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using a keyboard or speech recognition software</li>
        <li>
          listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
          VoiceOver)
        </li>
      </ul>
      <p>We’ve also made the website text as simple as possible to understand.</p>
      <p>
        <a rel="external" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier
        to use if you have a disability.
      </p>
      <h2 class="govuk-heading-m">How accessible this website is</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The skip to main content function is enforced on pages, which may cause users to miss the navigation.</li>
        <li>Some alternative text is not descriptive enough to give context for users.</li>
      </ul>
      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p>
        If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact
        the service team at: <a href="mailto:{{ supportEmailAddress }}" class="govuk-link">{{ supportEmailAddress }}</a>
      </p>
      <p>We’ll consider your request and get back to you in 5 working days.</p>
      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p>
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
        and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not
        happy with how we respond to your complaint,
        <a href="https://www.equalityadvisoryservice.com/" class="govuk-link"
          >contact the Equality Advisory and Support Service (EASS)</a
        >.
      </p>
      <h3 class="govuk-heading-s">Technical information about this website’s accessibility</h3>
      <p>
        The Ministry of Justice (MOJ) is committed to making its website accessible, in accordance with the Public
        Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>
      <h2 class="govuk-heading-m">Compliance status</h2>
      <p>The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>
      <p>
        This website is partially compliant with the
        <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a>
        AA standard, due to the non-compliances listed below.
      </p>
      <h2 class="govuk-heading-m">Non-accessible content</h2>
      <p>The content listed below is non-accessible for the following reasons.</p>
      <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
      <ol class="govuk-list govuk-list--number">
        <li>
          On some pages, the skip to main content link retains on the next page, which could lead assistive technology
          users to miss information. This fails WCAG 2.2 success criterion 2.4.1 (bypass blocks). We plan to fix this by
          November 2025.
        </li>
        <li>
          Some images have alt text that is not descriptive. This means some users will not get the context of the
          image. This fails WCAG 2.2 success criterion 1.1.1 (non-text content). We plan to fix this by November 2025.
        </li>
        <li>
          There is the need for probation practitioners to compare the likeness of an individual using sight only. This
          fails WCAG 2.2 success criterion 1.3.3 (sensory characteristics). There is no current workaround for this.
        </li>
      </ol>
      <h2 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h2>
      <p>We have no content outside the scope of accessibility regulations.</p>
      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p>
        This statement was prepared on 26 August 2025. It was last reviewed on 26 August 2025.This website was last
        tested on 29 July 2025 against the WCAG 2.2 AA standard.
      </p>
      <p>
        The test was carried out by the service team, and the wider MOJ accessibility team. The most viewed pages were
        tested using automated testing tools by our website team.
      </p>
    </div>
  </div>
{% endblock %}
