{% extends "./layout.njk" %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set section = "dashboard" %}
{% set pageTitle = "Check ins" %}

{% set metaContent = '<div class="es-debug"><h4 class="govuk-heading-xs govuk-!-margin-bottom-1">User ID</h4><p class="govuk-hint govuk-!-font-size-14"><code>' + practitionerUuid + '</code></p></div>' if flags.debugMode == true else '' %}

{% block content %}
  {% if successMessage %}
    {{
      mojAlert({
        variant: "success",
        title: successMessage.title,
        showTitleAsHeading: true,
        dismissible: false,
        html: successMessage.message
      })
    }}
  {% endif %}
  <div class="es-page-header">
    <div class="es-page-header__title">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
    <div class="es-page-header__actions">
      <a href="/practitioners/register/start" class="govuk-button" data-module="govuk-button" role="button"
        >Add person</a
      >
    </div>
  </div>
  <div id="checkInFilter">
    {{
      mojSubNavigation({
      label: "Filter check ins",
      items: [{
          text: "Needs attention",
          href: "/practitioners/dashboard#checkInFilter",
          active: true if filter == null else false
        }, {
          text: "Reviewed",
          href: "/practitioners/dashboard/reviewed#checkInFilter",
          active: true if filter == "reviewed" else false
        }, {
          text: "Awaiting check in",
          href: "/practitioners/dashboard/awaiting#checkInFilter",
          active: true if filter == "awaiting" else false
        }]
      })
    }}
  </div>
  {% if filter == null %}
    {% if checkIns and checkIns | length > 0 %}
      <table class="govuk-table es-table--responsive" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" aria-sort="ascending">Name</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Status</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Review due</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Priority</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for checkin in checkIns %}
            <tr data-checkin-uuid="{{ checkin.checkInId }}">
              <td class="govuk-table__cell" data-label="Name">{{ checkin.offenderName }}</td>
              <td class="govuk-table__cell" data-label="Status">{{ checkin.status }}</td>
              <td class="govuk-table__cell" data-label="Review due">{{ checkin.reviewDueDate | gdsDate }} &nbsp;</td>
              <td class="govuk-table__cell" data-label="Priority">
                {% if checkin.flagged == true %}{{
                  govukTag({
                    text: "Urgent",
                    classes: "govuk-tag--red"
                  })
                }}{% endif %}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Action">
                <a href="/practitioners/checkin/{{ checkin.checkInId }}" class="govuk-link govuk-link--no-visited-state"
                  >Review<span class="govuk-visually-hidden"> the check-in of {{ checkin.offenderName }}</span>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="govuk-body">You have no items that need attention</p>
    {% endif %}
  {% endif %}

  {% if filter == 'reviewed' %}
    {% if checkIns and checkIns | length > 0 %}
      <table class="govuk-table es-table--responsive" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" aria-sort="ascending">Name</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Status</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Reviewed on</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for checkin in checkIns %}
            <tr data-checkin-uuid="{{ checkin.checkInId }}">
              <td class="govuk-table__cell" data-label="Name">{{ checkin.offenderName }}</td>
              <td class="govuk-table__cell" data-label="Status">{{ checkin.status }}</td>
              <td class="govuk-table__cell" data-label="Reviewed on">
                {% if checkin.reviewedAt %}{{ checkin.reviewedAt | gdsDate }}{% else %}-{% endif %}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Action">
                <a href="/practitioners/checkin/{{ checkin.checkInId }}" class="govuk-link govuk-link--no-visited-state"
                  >View<span class="govuk-visually-hidden">
                    the check-in of {{ checkin.offenderName }} received {{ checkin.receivedDate | gdsDateTime }}</span
                  >
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="govuk-body">You have no reviewed items</p>
    {% endif %}
  {% endif %}
  {% if filter == 'awaiting' %}
    {% if checkIns and checkIns | length > 0 %}
      <table class="govuk-table es-table--responsive" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" aria-sort="ascending">Name</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Link sent to</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Status</th>
            <th class="govuk-table__header" scope="col" aria-sort="none">Check in due</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for checkin in checkIns %}
            <tr data-checkin-uuid="{{ checkin.checkInId }}">
              <td class="govuk-table__cell" data-label="Name">{{ checkin.offenderName }}</td>
              <td class="govuk-table__cell" data-label="Link sent to">{{ checkin.sentTo }}</td>
              <td class="govuk-table__cell" data-label="Status">{{ checkin.status }}</td>
              <td class="govuk-table__cell" data-label="Check in due">{{ checkin.dueDate | gdsDate }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Action">
                <a href="/practitioners/cases/{{ checkin.offenderId }}" class="govuk-link govuk-link--no-visited-state"
                  >Manage<span class="govuk-visually-hidden"> case for {{ checkin.offenderName }}</span>
                </a>
                {% if flags.debugMode == true %}
                  <span class="es-debug">
                    <a href="/submission/{{ checkin.checkInId }}" class="govuk-link govuk-link--no-visited-state"
                      >Check in link<span class="govuk-visually-hidden">
                        the check-in of {{ checkin.offenderName }} received {{ checkin.receivedDate }}</span
                      >
                    </a>
                  </span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="govuk-body">You are not awaiting any check ins</p>
    {% endif %}
  {% endif %}
{% endblock %}
