{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="es-pane" id="fallbackReviewScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Review your video</h1>
      <p>In your video, make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you are in a well lit area</li>
        <li>you are in front of a plain background</li>
        <li>your face is in the frame</li>
        <li>you are not wearing a hat or sunglasses</li>
      </ul>
      <div class="videoRecorder__container">
        <div class="videoRecorder__videoWrap">
          <img id="fallbackReviewImage" class="videoRecorder__video" alt="Screenshot from your video" />
        </div>
      </div>
      <p>
        If your video meets the rules, you can continue and we will verify your identity.
      </p>
      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue", element: "a", attributes: { "data-fallback-continue": "" } }) }}
        {{ govukButton({ text: "Record video again", classes: "govuk-button--secondary", element: "a", attributes: { "data-fallback-video": "" } }) }}
      </div>
    </div>
  </div>
</div>
