{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro errorSummary(errorList, errorTitle) %}

  {% if errorList | length %}
    {{
      govukErrorSummary({
        titleText: errorTitle if errorTitle else t('common.errorSummary.title'),
        errorList: errorList
      })
    }}
    {% set pageTitle = t('common.errorSummary.pageTitlePrefix') + pageTitle %}
  {% endif %}
{% endmacro %}
