{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet" />
{% endblock %}

{% block pageTitle %}
  {% set pageTitlePrefix = "" %}
  {% if validationErrors %}
    {% set pageTitlePrefix = "Error - " %}
  {% endif %}
  {{ pageTitlePrefix + pageTitle + ' - ' + applicationName if pageTitle else pageTitlePrefix + applicationName }}
{% endblock %}

{% block header %}
  {% include "partials/header.njk" %}
  {{
    govukServiceNavigation({
      serviceName: serviceName
    })
  }}
  {{
    govukPhaseBanner({
    tag: {
      text: "Private Beta"
    },
    html: 'This is a new service – your <a class="govuk-link govuk-link--no-visited-state" target="_blank" rel="nofollow" href="https://forms.office.com/pages/responsepage.aspx?id=KEeHxuZx_kGp4S6MNndq2GF5fsslU5tImfiqSSPf6JhUQko3QVg0MkVGRTVYV0dFMEJJUzBZUTIyVCQlQCN0PWcu&route=shorturl">feedback (opens in a new tab)</a> will help us to improve it.'
    })
  }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{
    govukFooter({
    meta: {
    items: [
          {
            href: "/accessibility",
            text: "Accessibility statement"
          },
          {
            href: "/privacy-notice",
            text: "Privacy"
          }
        ]
    }
    })
  }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
  {% if submissionAuthorized %}
  <script type="application/javascript">
    document.body.dataset.submissionId = "{{ submissionId }}";
  </script>
  <script type="module" src="{{ '/assets/js/timeout.js' | assetMap }}"></script>
  {% endif %}
{% endblock %}
