{# Error Screen - shown when video verification fails #}
{% set errorContent = getContent('video.error') %}

<div class="es-pane" id="errorScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ errorContent.title }}</h1>
      <p class="govuk-body">{{ errorContent.body }}</p>
      <p class="govuk-body govuk-!-font-weight-bold">{{ errorContent.instructionsTitle }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in errorContent.instructionsItems %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <div class="govuk-button-group">
        <a class="govuk-button" role="button" href="">{{ errorContent.retryButton }}</a>
      </div>
    </div>
  </div>
</div>
