<div class="es-pane" id="errorScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('submission.video.partials.error.heading') }}</h1>
      <p>{{ t('submission.video.partials.error.intro') }}</p>
      <p class="govuk-!-font-weight-bold">{{ t('submission.video.partials.error.rulesIntro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('submission.video.partials.error.rules.litArea') }}</li>
        <li>{{ t('submission.video.partials.error.rules.plainBackground') }}</li>
        <li>{{ t('submission.video.partials.error.rules.faceInFrame') }}</li>
        <li>{{ t('submission.video.partials.error.rules.noHatSunglasses') }}</li>
      </ul>
      <div class="govuk-button-group">
        <a class="govuk-button" role="button" href="">{{ t('submission.video.partials.error.tryAgain') }}</a>
      </div>
    </div>
  </div>
</div>
