{# Loading Screen - shown during video verification #}
<div class="es-pane" id="loadingScreen" hidden aria-hidden="true">
  <div class="es-loader">
    <div class="es-loader__spinner" aria-live="polite" role="status"></div>
    <div class="es-loader__content">
      <h1 class="govuk-heading-m">{{ t('video.loading.title') }}</h1>
    </div>
  </div>
</div>
