<div class="es-pane" id="matchScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We have confirmed this is you</h1>
      <p>We have confirmed this is you. You can now continue to check your answers.</p>
      <div class="videoRecorder__videoWrap">
        <video class="videoRecorder__video-preview" id="matchPreview" controls>
          Your browser does not support video
        </video>
      </div>
      <div class="govuk-button-group">
        <a
          class="govuk-button"
          data-module="govuk-button"
          role="button"
          href="/{{ submissionId }}/check-your-answers"
          >Continue</a
        >
      </div>
    </div>
  </div>
</div>
