<div class="es-pane" id="matchScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('submission.video.partials.match.heading') }}</h1>
      <p>{{ t('submission.video.partials.match.intro') }}</p>
      <div class="videoRecorder__videoWrap">
        <video class="videoRecorder__video-preview" id="matchPreview" controls>
          {{ t('submission.video.partials.match.browserUnsupported') }}
        </video>
      </div>
      <div class="govuk-button-group">
        <a
          class="govuk-button"
          data-module="govuk-button"
          role="button"
          href="/{{ submissionId }}/check-your-answers"
          >{{ t('submission.video.partials.match.continue') }}</a
        >
      </div>
    </div>
  </div>
</div>
