{# No Match Screen - shown when identity cannot be verified #}
{% set noMatchContent = getContent('video.noMatch') %}

<div class="es-pane" id="noMatchScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ noMatchContent.title }}</h1>
      <p class="govuk-body">{{ noMatchContent.body }}</p>
      <div class="videoRecorder__videoWrap">
        <video class="videoRecorder__video-preview" id="noMatchPreview" controls>
          Your browser does not support video
        </video>
      </div>
      <h2 class="govuk-heading-m">{{ noMatchContent.recordAgainTitle }}</h2>
      <p class="govuk-body">{{ noMatchContent.recordAgainDescription }}</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for item in noMatchContent.recordAgainItems %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <div class="govuk-button-group">
        <a class="govuk-button" role="button" href="">{{ noMatchContent.retryButton }}</a>
        <a
          class="govuk-button govuk-button--secondary"
          role="button"
          data-module="govuk-button"
          href="/{{ submissionId }}/check-your-answers"
        >
          {{ noMatchContent.submitAnywayButton }}
        </a>
      </div>
    </div>
  </div>
</div>
