{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">Before your probation officer signs you up to use online check ins, they should tell you how online check ins work.</p>
<h3 class="govuk-heading-m">What you need to know</h3>
<p class="govuk-body">It’s helpful for you to understand:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>what online check ins are</li>
  <li>that you can choose not to use online check ins</li>
  <li>you can stop using online check ins whenever you want</li>
  <li>you will not be breached if you miss a check in or ask to stop using them</li>
</ul>
<h3 class="govuk-heading-m">How online check ins can benefit people on probation</h3>
<p class="govuk-body">Online check ins have helped people to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>complete a course for their job that in person meetings would make it difficult to do</li>
  <li>check in without having to travel into the office if they have caring responsibilities</li>
  <li>save money on travel to probation appointments</li>
  <li>let their probation officer know they need support with something</li>
  <li>tell their probation officer about something positive that’s happened</li>
</ul>
{% endblock %}
