{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">Once you’ve submitted your check in, you’ll get a confirmation text or email. Your probation officer will review it and get in touch if needed.</p>
<h3 class="govuk-heading-m">If you have asked for support</h3>
<p class="govuk-body">If you have asked for support with something in your check in, your probation officer may get in touch with you to see what they can do to help.</p>
{% endblock %}
