{% extends "./_layout.njk" %}

{% block guidanceContent %}
<h3 class="govuk-heading-m">Filling in the feedback survey</h3>
<p class="govuk-body">We have a <a class="govuk-link" href="/feedback">feedback form for people using online check ins</a>. This is to understand your experience of using online check ins.</p>
<p class="govuk-body">You will be able to fill this in:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>when completing your check in</li>
  <li>using a link in the text or email you get when you’ve checked in</li>
</ul>
<p class="govuk-body">You can also fill in this feedback form with your probation officer in face to face appointments.</p>
<h3 class="govuk-heading-m">If you stop using online check ins</h3>
<p class="govuk-body">If you stop using online check ins, you’ll get a link to complete a survey in the text or email you get when check ins stop. This helps us to improve online check ins.</p>
<h3 class="govuk-heading-m">Other ways we might ask you for feedback</h3>
<p class="govuk-body">There may be other ways we ask you to give feedback about online check ins or other services for people on probation. For example, a staff member might contact you to talk about your experience. This will be someone who is responsible for collecting feedback to help us make online probation systems better. Taking part in research is always optional and you can decide if you want to get involved.</p>
<p class="govuk-body">Giving feedback about online check ins and taking part in research will not affect your probation.</p>
<h3 class="govuk-heading-m">What we do with your feedback</h3>
<p class="govuk-body">If something in online check ins is not working or online check ins go down, your feedback will enable us to fix these issues as soon as possible. Your feedback will also help us to improve the design and the way it works.</p>
{% endblock %}
