{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">When your probation officer signs you up to use online check ins, they’ll take a photo of you. This will be used to help verify your identity each time you check in. We might also use this photo to put on your case file so your probation officer knows it’s you.</p>
<p class="govuk-body">We’ll use the information you give us in your check ins to update your probation officer about how you’re doing and if you need support. The photo taken during your identity check is used to confirm it’s you completing the check in. All of your information is stored securely in our system.</p>
<p class="govuk-body">You can <a class="govuk-link" href="/privacy-notice">check our privacy policy to learn more about how we use your data</a>.</p>
<h3 class="govuk-heading-m">Subject access requests (SAR)</h3>
<p class="govuk-body">If you would like a copy of the information we hold about you, your probation officer can email the team and ask to see it. This is called a subject access request. You can ask your probation officer and they’ll submit this on your behalf.</p>
<p class="govuk-body">You can also email the team at: <a class="govuk-link" href="mailto:data.access1@justice.gov.uk" rel="noreferrer noopener" target="_blank">data.access1@justice.gov.uk (opens in email app)</a> to ask for a copy of the information.</p>
{% endblock %}
