{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">Check in with your probation officer is an online form you can fill in to let your probation officer know how you’re feeling and if you need support. You’ll answer a few questions and complete a quick identity check to make sure it’s you filling in the answers.</p>
<p class="govuk-body">Your probation officer can sign you up to use this online service if you decide it’ll be helpful for you. Once you’re signed up, you’ll get a link when it’s time to check in. You’ll have 3 days from the date you get the link to complete your check in.</p>
<p class="govuk-body">Your probation officer will be sent the answers in your check in, and a photo from your identity check to review. This helps them to make sure you are OK and being supported in the right way. It also gives you another way to update them without having to see them in person.</p>
{% endblock %}
