{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">During your online check in, you’ll be asked some questions. There are 2 questions that everyone is asked at every check in:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>How have you been feeling since we last spoke?</li>
  <li>Is there anything you need support with or want to let us know about?</li>
</ul>
<p class="govuk-body">Your probation officer can then add up to 3 extra questions to ask you. These questions will be about you, your life and anything you’ve been talking with your probation officer about.</p>
<p class="govuk-body">This means they’ll be able to help you with things that are more personal to you, and ask about things specific to you and your needs.</p>
{% endblock %}
