{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">If you choose to use online check ins, you’ll be signed up by your probation officer. They may do this in your in-person appointment. To sign up, they will need to enter:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your name and date of birth</li>
  <li>your phone number or email address</li>
  <li>a photograph of your face</li>
  <li>the date you will start using online check ins</li>
  <li>how often you will use online check ins</li>
</ul>
<p class="govuk-body">Once you’ve been signed up, you’ll get a confirmation text or email, whichever you choose. This will tell you when you’ll get a link to complete your first check in online.</p>
<h3 class="govuk-heading-m">How we use your photo</h3>
<p class="govuk-body">We take a photo of you during sign up to match with an identity check during your check in. This is to make sure it’s you completing a check in, just like some banking apps ask for a photo or video to check you’re the right person. Your probation officer may take this photo at sign up or ask you to take it and send it to them.</p>
<p class="govuk-body">We might also use this photo on your case file so your probation officer knows it’s you.</p>
{% endblock %}
