{% extends "./_layout.njk" %}

{% block guidanceContent %}
<h3 class="govuk-heading-m">Getting the link to your online check ins</h3>
<p class="govuk-body">When your probation officer signs you up to use online check ins, they will set a date for your first check in and decide how often you’ll use online check ins. They might decide you will check in regularly, like every 2 or 4 weeks, or just send a check in when it might benefit you.</p>
<p class="govuk-body">On the date you’re due to check in, you’ll get a message either by text or email, whichever one you chose. This will have a link to check in, and you’ll have 3 days to complete it. Each time you’re due to check in, you’ll get a new link.</p>
<h3 class="govuk-heading-m">What you’ll be asked to do</h3>
<p class="govuk-body">During your check in you’ll be asked:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>your name and date of birth</li>
  <li>up to 5 questions about how you are and if you need support with anything</li>
  <li>to verify your identity</li>
</ul>
<p class="govuk-body">You should treat your online check in like any other probation appointment and make sure you’re fully and appropriately dressed.</p>
<p class="govuk-body">You will not be able to check in if you are outside of the UK.</p>
<h3 class="govuk-heading-m">How we verify your identity</h3>
<p class="govuk-body">An image of you verifying your identity will be compared to the photo of you taken when you signed up. This is to confirm it is you completing the check in. You’ll also be asked to move your face so we can tell the person in the frame is real.</p>
<p class="govuk-body">You’ll need to accept permissions to access your camera on your device.</p>
<h3 class="govuk-heading-m">If we cannot confirm your identity</h3>
<p class="govuk-body">If you fail the identity check, you can try again. There is also a different way to verify your identity that you’ll be given the option to try if this still doesn’t work.</p>
<p class="govuk-body">If we still cannot confirm your identity, you can still choose to continue and submit your check in anyway. A failed identity check can be caused by lots of things, such as if:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>you’ve changed how you look</li>
  <li>you are not in a well lit area</li>
  <li>you’ve not moved quickly enough in front of the camera</li>
</ul>
<p class="govuk-body">Your probation officer will compare your identity check to your photo when they review your check in. If they have any questions, they will contact you.</p>
{% endblock %}
