{% extends "./_layout.njk" %}

{% block guidanceContent %}
<p class="govuk-body">Contact your probation officer or speak to them in your face to face appointment if you have any issues with online check ins. This could include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the system is not working</li>
  <li>you’re finding it difficult to use</li>
  <li>you’ve changed your contact details</li>
  <li>you’ve lost your phone or have an issue accessing the link</li>
  <li>you forget to check in</li>
  <li>you want to go back to face to face only</li>
</ul>
<p class="govuk-body">Any issues you have with online check ins will not result in a breach of your conditions.</p>
<h3 class="govuk-heading-m">If you are struggling to use technology</h3>
<p class="govuk-body">If you need help using online check ins, you can go to the reception at your probation office and ask to speak to an Engaging People on Probation (EPOP) representative. They may be able to help you with using technology.</p>
<p class="govuk-body">You can also ask your probation officer if there are other ways you can get help with using technology.</p>
<h3 class="govuk-heading-m">If you miss a check in</h3>
<p class="govuk-body">If you miss a check in for any reason, your probation officer may stop your check ins and contact you to find out why you’ve not been able to complete a check in.</p>
<p class="govuk-body">If you’re having difficulty using online check ins, you should let your probation officer know as soon as possible so they can stop check ins.</p>
<h3 class="govuk-heading-m">What happens if something in online check ins changes</h3>
<p class="govuk-body">We ask for feedback from people on probation and probation officers about how online check ins work for them. We use this to improve the service. This means sometimes we change parts of online check ins to make them better for people using them.</p>
<p class="govuk-body">If something in online check ins changes and it means you struggle to use the system, speak to your probation officer. They can explain the change and may be able to help if you’re struggling.</p>
{% endblock %}
