REDIS_ENABLED=false

# System credentials for API calls (machine-to-machine authentication)
CLIENT_CREDS_CLIENT_ID=hmpps-typescript-template-system
CLIENT_CREDS_CLIENT_SECRET=clientsecret

# Probation Account API
PROBATION_ACCOUNT_API_URL=https://people-on-probation-api-dev.hmpps.service.justice.gov.uk
