{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "../layout.njk" %}
{% set section = "register" %}

{% set title = "Check your answers before adding the person" %}
{% set pageTitle = title %}
{%
  set name = [
    formData['firstName'], ' ', formData['lastName']
  ] | join
%}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/practitioners/register/set-up"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div
        id="registration-error"
        class="govuk-error-summary"
        aria-labelledby="error-summary-title"
        role="alert"
        tabindex="-1"
        hidden
      >
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <p class="govuk-error-message" id="registration-error-content"></p>
        </div>
      </div>

      <h1 class="govuk-heading-l">{{ title }}</h1>
      <h2 class="govuk-heading-m">Person's details</h2>
      {{
        govukSummaryList({
          rows: [
            {
              key: { text: "First name" },
              value: { text: formData['firstName'] },
              actions: {
                items: [
                  {
                    href: "/practitioners/register?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " first name"
                  }
                ]
              }
            },
            {
              key: { text: "Last name" },
              value: { text: formData['lastName'] },
              actions: {
                items: [
                  {
                    href: "/practitioners/register?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " last name"
                  }
                ]
              }
            },
            {
              key: { text: "Date of birth" },
              value: { text: dateOfBirth | gdsDate },
              actions: {
                items: [
                  {
                    href: "/practitioners/register?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " date of birth"
                  }
                ]
              }
            },
            {
              key: { text: "Case reference number (CRN)" },
              value: { text: formData['crn'] },
              actions: {
              items: [
                        {
                          href: "/practitioners/register?checkAnswers=true",
                          text: "Change",
                          visuallyHiddenText: " case reference number"
                        }
                      ]
              }
            }
          ]
        })
      }}

      <h2 class="govuk-heading-m">Photo</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Photo upload</dt>
          <dd class="govuk-summary-list__value">
            <div class="es-uploaded-image es-uploaded-image--small" data-person="{{ name }}"></div>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a
              class="govuk-link govuk-link--no-visited-state"
              href="/practitioners/register/photo/review?checkAnswers=true"
              >Change<span class="govuk-visually-hidden"> the photo</span></a
            >
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m" id="contact-details">Contact details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How does {{ name }} want us to send a link to the service?</dt>
          <dd class="govuk-summary-list__value">{{ contactPreference }}</dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/practitioners/register/contact?checkAnswers=true"
              >Change<span class="govuk-visually-hidden"> contact details notification preference</span></a
            >
          </dd>
        </div>
        {% if formData['contactPreference'] == 'TEXT' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Mobile number</dt>
            <dd class="govuk-summary-list__value">{{ formData['mobile'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a
                class="govuk-link govuk-link--no-visited-state"
                href="/practitioners/register/contact/mobile?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> the mobile number</span></a
              >
            </dd>
          </div>
        {% endif %}

        {% if formData['contactPreference'] == 'EMAIL' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Email address</dt>
            <dd class="govuk-summary-list__value">{{ formData['email'] }}</dd>
            <dd class="govuk-summary-list__actions">
              <a
                class="govuk-link govuk-link--no-visited-state"
                href="/practitioners/register/contact/email?checkAnswers=true"
                >Change<span class="govuk-visually-hidden"> the email address</span></a
              >
            </dd>
          </div>
        {% endif %}
      </dl>

      <h2 class="govuk-heading-m">Check in settings</h2>

      {{
        govukSummaryList({
          rows: [
            {
              key: { text: "When would you like " + name + " to complete their first check in?" },
              value: { text: formData['startDate'] | gdsDate},
              actions: {
                items: [
                  {
                    href: "/practitioners/register/set-up?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " start date"
                  }
                ]
              }
            },
            {
              key: { text: "How often would you like " + name + " to check in?" },
              value: { text: frequency },
              actions: {
                items: [
                  {
                    href: "/practitioners/register/set-up?checkAnswers=true",
                    text: "Change",
                    visuallyHiddenText: " frequency"
                  }
                ]
              }
            }
          ]
        })
      }}

      <button id="registerButton" class="govuk-button">Confirm and add person</button>

      <form id="completeRegistrationForm" method="post" action="/practitioners/register/complete">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" id="setupId" name="setupId" value="{{ setupId }}" />
      </form>
    </div>
  </div>
{% endblock %}
