{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../../partials/errorSummary.njk" import errorSummary %}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}
{% extends "../../layout.njk" %}
{% set section = "cases" %}

{% set title = "Change online check ins" %}
{% set name = offender.firstName + " " + offender.lastName %}

{% block beforeContent %}
  <div class="es-page-actions">
    <div class="es-page-actions__back">
      {{
        govukBackLink({
          text: "Back",
          href: "../"
        })
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          mojDatePicker({
          id: "startDate",
          name: "startDate",
          minDate: yesterday,
          value: nextCheckinDate,
          label: {
          text: "When would you like " + name + " to complete their next check in?",
          classes: "govuk-label--m"
          },
          hint: {
          text: "The person will be sent a notification to use the service from this date."
          },
          errorMessage: validationErrors | findError("startDate") | default(null)
          })
        }}

        {{
          govukRadios({
          name: "frequency",
          errorMessage: validationErrors | findError("frequency") | default(null),
          value: offender.frequency,
          fieldset: {
          legend: {
          text: "How often would you like " + name + " to check in?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
          }
          },
          items: [
                {
                  value: "WEEKLY",
                  text: "Every week"
                },
                {
                  value: "TWO_WEEKS",
                  text: "Every 2 weeks"
                },
                {
                  value: "FOUR_WEEKS",
                  text: "Every 4 weeks"
                },
                {
                  value: "EIGHT_WEEKS",
                  text: "Every 8 weeks"
                }
              ]
          })
        }}
        {{
          govukButton({
          text: "Save changes"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
