{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../../../../partials/errorSummary.njk" import errorSummary %}
{% from "../../../../partials/validatedDateInput.njk" import validatedDateInput %}
{% extends "../../layout.njk" %}
{% set section = "cases" %}

{% set title = "Persons details" %}

{% block beforeContent %}
  <div class="es-page-actions">
    <div class="es-page-actions__back">
      {{
        govukBackLink({
          text: "Back",
          href: "../"
        })
      }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p>We will use these details to verify the person when they access the service.</p>
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukInput({
            label: {
              text: "First name",
              classes: "govuk-label--m"
            },
            classes: "govuk-!-width-two-thirds",
            id: "firstName",
            name: "firstName",
            errorMessage: validationErrors | findError("firstName"),
            value: offender.firstName
          })
        }}
        {{
          govukInput({
            label: {
              text: "Last name",
              classes: "govuk-label--m"
            },
            classes: "govuk-!-width-two-thirds",
            id: "lastName",
            name: "lastName",
            errorMessage: validationErrors | findError("lastName"),
            value: offender.lastName
          })
        }}
        {{
          validatedDateInput({
            id: "dob",
            title: {
              text:  "Date of birth",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            },
            hintText: "For example, 31 3 1980",
            validationErrors: validationErrors,
            day: offender.day,
            month: offender.month,
            year: offender.year
          })
        }}
        {{
          govukInput({
          label: {
          text: "Case reference number (CRN)",
          classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
          hint: {
          text: "This will be used to link check ins to the person in nDelius"
          },
          id: "crn",
          name: "crn",
          errorMessage: validationErrors | findError("crn"),
          value: offender.crn
          })
        }}
        {{
          govukButton({
            text: "Save changes"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
