{% extends "./partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('public.authError.heading') }}</h1>
      <p>{{ t('public.authError.body') }}</p>
    </div>
  </div>
{% endblock %}
