{% extends "layouts/form.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = t('checkAnswers.pageTitle') %}
{% set buttonText = t('checkAnswers.submitButton') %}

{% block formIntro %}
  <h1 class="govuk-heading-l">{{ t('checkAnswers.title') }}</h1>
{% endblock %}

{% block formContent %}
  {# About You Section #}
  <h2 class="govuk-heading-m">{{ sections.aboutYou }}</h2>

  {{ govukSummaryList({
    rows: summaryRows
  }) }}

  {# Video Section #}
  <h2 class="govuk-heading-m">{{ sections.video }}</h2>

  {{ govukSummaryList({
    rows: videoRows
  }) }}

  {# Hidden device data field #}
  <input type="hidden" id="device-data" name="deviceData" />

  {# Confirmation checkbox #}
  {{ govukCheckboxes({
    name: "checkAnswers",
    errorMessage: validationErrors | findError("checkAnswers"),
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--m",
        text: confirm.legend
      }
    },
    items: [
      {
        value: "CONFIRM",
        text: confirm.label
      }
    ]
  }) }}
{% endblock %}

{% block pageScripts %}
  <script type="module" src="{{ '/assets/js/detect-device.js' | assetMap }}"></script>
{% endblock %}
