{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}


{% set pageTitle = t('submission.confirmation.title') %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if probationAccounts != 'yes' and probationAccounts != 'no' and probationAccounts != 'not_sure' %}
        {% set probationAccounts = false %}
      {% endif %}
      {% if probationAccounts %}
        {{ mojAlert({
          variant: "information",
          title: t('submission.confirmation.accounts.registeredTitle'),
          showTitleAsHeading: true,
          dismissible: false,
          html: t('submission.confirmation.accounts.registered')
        }) }}
      {% endif %}

      {{
        govukPanel({
          titleText: t('submission.confirmation.panel')
        })
      }}
      <p>{{ t('submission.confirmation.sent') }}</p>
      <h2 class="govuk-heading-m">{{ t('submission.confirmation.whatNext.heading') }}</h2>
      <p>
        {{ t('submission.confirmation.whatNext.intro') }}
      </p>
      <p>{{ t('submission.confirmation.whatNext.reminder') }}</p>

      <h2 class="govuk-heading-m">{{ t('submission.confirmation.feedback.heading') }}</h2>
      <p>{{ t('submission.confirmation.feedback.intro') }}</p>
      {{ govukButton({
        text: t('submission.confirmation.feedback.button'),
        href: "/feedback"
      }) }}


      {% if not probationAccounts %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-m">{{ t('submission.confirmation.accounts.heading') }}</h2>
        <p>{{ t('submission.confirmation.accounts.intro') }}</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>{{ t('submission.confirmation.accounts.list.1') }}</li>
            <li>{{ t('submission.confirmation.accounts.list.2') }}</li>
            <li>{{ t('submission.confirmation.accounts.list.3') }}</li>
        </ul>
        <form method="POST" action="/{{ submissionId }}/probation-accounts">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {{ govukRadios({
               name: "probationAccounts",
               fieldset: {
                 legend: {
                   classes: "govuk-fieldset__legend--s",
                   text: t('submission.confirmation.accounts.question')
                 }
               },
               items: [
                 { value: "YES", text: t('submission.confirmation.accounts.options.yes') },
                 { value: "NO", text: t('submission.confirmation.accounts.options.no') },
                 { value: "NOT_SURE", text: t('submission.confirmation.accounts.options.notSure') }
               ]
             })
           }}
          {% call govukInsetText() %}
            {{ t('submission.confirmation.accounts.inset') }}
          {% endcall %}
          {{
            govukButton({
              text: t('submission.confirmation.accounts.button'),
              classes: "govuk-button--secondary"
            })
          }}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
