{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t('submission.confirmation.title') %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukPanel({
          titleText: t('submission.confirmation.panel')
        })
      }}
      <p>{{ t('submission.confirmation.sent') }}</p>
      <h2 class="govuk-heading-m">{{ t('submission.confirmation.whatNext.heading') }}</h2>
      <p>
        {{ t('submission.confirmation.whatNext.intro') }}
      </p>
      <p>{{ t('submission.confirmation.whatNext.reminder') }}</p>

      <h2 class="govuk-heading-m">{{ t('submission.confirmation.feedback.heading') }}</h2>
      <p>{{ t('submission.confirmation.feedback.intro') }}</p>

      {{ govukButton({
        text: t('submission.confirmation.feedback.button'),
        href: "/feedback"
      }) }}
    </div>
  </div>
{% endblock %}
