{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = "Check in completed" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukPanel({
          titleText: "Check in completed"
        })
      }}
      <p>We have sent you a confirmation message.</p>
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>
        Your video and answers have been shared with your probation officer. They will contact you if there are any
        concerns with the information you’ve entered, or if you requested contact.
      </p>
      <p>We will remind you when it is time for your next check in.</p>

      <h2 class="govuk-heading-m">Have your say about online check ins</h2>
      <p>Help us to improve check ins by answering a few questions about your experience.</p>
      
      {{ govukButton({
        text: "Give feedback",
        href: "/feedback"
      }) }}
    </div>
  </div>
{% endblock %}
