{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Your check in link has expired" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>Contact your probation officer to request a new link.</p>
    </div>
  </div>
{% endblock %}
