{% extends "layouts/content.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t('index.start.pageTitle') %}
{% set content = getContent('index.start') %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{ content.title }}</h1>
  <p class="govuk-body">{{ content.intro }}</p>

  <h2 class="govuk-heading-m">{{ content.beforeYouStart.title }}</h2>
  <p class="govuk-body">{{ content.beforeYouStart.description }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for item in content.beforeYouStart.items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
  <p class="govuk-body">{{ content.beforeYouStart.ukWarning }}</p>

  <h2 class="govuk-heading-m">{{ content.whatYouNeedToDo.title }}</h2>
  <p class="govuk-body">{{ content.whatYouNeedToDo.description }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for item in content.whatYouNeedToDo.items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
  <p class="govuk-body">{{ content.whatYouNeedToDo.videoExplanation }}</p>
  <p class="govuk-body">{{ content.whatYouNeedToDo.answersExplanation }}</p>

  <h2 class="govuk-heading-m">{{ content.needHelp.title }}</h2>
  <p class="govuk-body">{{ content.needHelp.description }}</p>
  <p class="govuk-body">{{ content.needHelp.guidanceLink | replace("{{ submissionId }}", submissionId) | safe }}</p>

  <form method="POST" action="/{{ submissionId }}/start">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    {{ govukButton({
      text: content.startButton,
      isStartButton: true
    }) }}
  </form>
{% endblock %}
