{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../../partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('submission.index.heading') }}</h1>
      <p>
        {{ t('submission.index.intro') }}
      </p>
      <h2 class="govuk-heading-m">{{ t('submission.index.beforeStart.heading') }}</h2>
      <p>{{ t('submission.index.beforeStart.intro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('submission.index.beforeStart.items.internet') }}</li>
        <li>{{ t('submission.index.beforeStart.items.camera') }}</li>
        <li>{{ t('submission.index.beforeStart.items.details') }}</li>
      </ul>
      <p>{{ t('submission.index.beforeStart.uk') }}</p>
      <h2 class="govuk-heading-m">{{ t('submission.index.whatToDo.heading') }}</h2>
      <p>{{ t('submission.index.whatToDo.intro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('submission.index.whatToDo.items.questions') }}</li>
        <li>{{ t('submission.index.whatToDo.items.camera') }}</li>
        <li>{{ t('submission.index.whatToDo.items.video') }}</li>
      </ul>
      <p>
        {{ t('submission.index.whatToDo.videoUse') }}
      </p>
      <p>{{ t('submission.index.whatToDo.shareAnswers') }}</p>

      <h2 class="govuk-heading-m">{{ t('submission.index.help.heading') }}</h2>
      <p>
        {{ t('submission.index.help.intro') }}
      </p>
      <p class="govuk-body">{{ t('submission.index.help.guidance', { submissionId: submissionId }) | safe }}</p>
      <form action="/{{ submissionId }}/start" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukButton({
          text: t('submission.index.start'),
          isStartButton: true
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
