{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% extends "../../partials/layout.njk" %}

{% set title = t('submission.noMatchFound.title') %}
{% set pageTitle = title %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + "/verify"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p>{{ t('submission.noMatchFound.intro') }}</p>

      {{
        govukTable({
          caption: t('submission.noMatchFound.table.caption'),
          captionClasses: "govuk-visually-hidden",
          firstCellIsHeader: true,
          rows: [
            [
              { text: t('submission.noMatchFound.table.firstName') },
              { text: firstName | default(t('submission.noMatchFound.table.notProvided')) }
            ],
            [
              { text: t('submission.noMatchFound.table.lastName') },
              { text: lastName | default(t('submission.noMatchFound.table.notProvided')) }
            ],
            [
              { text: t('submission.noMatchFound.table.dateOfBirth') },
              { text: dateOfBirth | gdsDate(lang) | default(t('submission.noMatchFound.table.notProvided')) }
            ]
          ]
        })
      }}

      {{
        govukButton({
          text: t('common.buttons.tryAgain'),
          href: "/" + submissionId + "/verify"
        })
      }}

      <h2 class="govuk-heading-m">{{ t('submission.noMatchFound.help.heading') }}</h2>
      <p>
        {{ t('submission.noMatchFound.help.intro') }}
      </p>
    </div>
  </div>
{% endblock %}
