{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Page not found" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Page not found</h1>
      <p>If you typed the web address, check it is correct.</p>
      <p>If you pasted the web address, check you copied the entire address.</p>
      <p>If you clicked on a link to get here, the link may be out of date.</p>
      <p>If you need help, contact your probation officer.</p>
    </div>
  </div>
{% endblock %}
