{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = t('submission.timeout.title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>{{ t('submission.timeout.intro') }}</p>
      {{
        govukButton({
          text: t('submission.timeout.restart'),
          href: "/" + submissionId
        })
      }}
    </div>
  </div>
{% endblock %}
