{% extends "layouts/content.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t('errors.timeout.pageTitle') %}
{% set content = getContent('errors.timeout') %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{ content.title }}</h1>
  <p class="govuk-body">{{ content.body }}</p>

  {{ govukButton({
    text: content.restartButton,
    href: "/" + submissionId
  }) }}
{% endblock %}
