{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../partials/errorSummary.njk" import errorSummary %}
{% from "../../partials/validatedDateInput.njk" import validatedDateInput %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = t('submission.verify.title') %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId
    })
  }}
{% endblock %}

{% block content %}
  {% if errorMessage %}
    {{
      govukNotificationBanner({
        html: '<p class="govuk-body">' + errorMessage.title + '</p>',
        type: 'error',
        titleId: 'error-title'
      })
    }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}

      <h1 class="govuk-heading-l">{{ t('submission.verify.heading') }}</h1>
      <p>{{ t('submission.verify.intro') }}</p>
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukInput({
            label: {
              text: t('submission.verify.firstName'),
              classes: "govuk-label--m"
            },
            classes: "govuk-!-width-two-thirds",
            id: "firstName",
            name: "firstName",
            autocomplete: "given-name",
            errorMessage: validationErrors | findError("firstName"),
            value: formData["firstName"]
          })
        }}

        {{
          govukInput({
            label: {
              text: t('submission.verify.lastName'),
              classes: "govuk-label--m"
            },
            classes: "govuk-!-width-two-thirds",
            id: "lastName",
            name: "lastName",
            autocomplete: "family-name",
            errorMessage: validationErrors | findError("lastName"),
            value: formData["lastName"]
          })
        }}

        {{
          validatedDateInput({
            id: "dob",
            title: {
              text: t('submission.verify.dob.legend'),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            },
            hintText: t('submission.verify.dob.hint'),
            validationErrors: validationErrors,
            day: formData["day"],
            month: formData["month"],
            year: formData["year"]
          })
        }}

        {{
          govukButton({
            text: t('common.buttons.continue')
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
