{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../layout.njk" %}
{% set section = "register" %}

{% block beforeContent %}
  {{
    govukBackLink({
    text: "Back",
    href: "/practitioners/register/check-answers" if cya else "/practitioners/register"
    })
  }}
{% endblock %}

{% set title = ["Take a photo of ", formData['firstName'], ' ', formData['lastName']]  | join %}
{% set pageTitle = title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p>Before you take your photo, make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the person is in a well lit area</li>
        <li>the person is in front of a plain background</li>
        <li>the person's face is in the frame</li>
        <li>there is no other person in the photo</li>
        <li>the person is not wearing a hat or sunglasses</li>
      </ul>

      <div class="es-photo-capture es-hidden" id="es-photo-capture">
        <div class="es-photo-capture__wrap">
          <video id="es-photo-capture__video" class="es-photo-capture__video"></video>
          <span class="es-photo-capture__frame"></span>
        </div>
        <div class="govuk-button-group">
          {{
            govukButton({
              text: "Take photo",
              type: "button",
              id: "take-photo",
              disabled: true
            })
          }}
          <a
            href="photo/upload{{ "?checkAnswers=true" if cya else "" }}"
            class="govuk-link govuk-link--no-visited-state"
            >Upload photo instead</a
          >
        </div>
      </div>

      <form method="POST" id="photoForm">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="checkYourAnswers" value="{{ cya }}" />
        <input type="hidden" name="userPhotoUpload" id="userPhotoUpload" value="false" />
      </form>

      <div id="es-photo-capture__error">
        <div class="govuk-inset-text es-inset-text--error">
          <h2 class="govuk-heading-m es-heading--error">You need to accept permissions on your device</h2>
          <p>We are unable to access your camera to take a photo. Check your browser settings and permissions.</p>
        </div>
        <div class="govuk-button-group">
          <button class="govuk-button" disabled>Take photo</button>
          <a
            href="photo/upload{{ "?checkAnswers=true" if cya else "" }}"
            class="govuk-link govuk-link--no-visited-state"
            >Upload photo instead</a
          >
        </div>
      </div>
    </div>
  </div>
{% endblock %}
