{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../layout.njk" %}
{% set section = "register" %}

{% set backLinkHref = "/practitioners/register/photo/upload" if formData['userPhotoUpload'] == "true" else "/practitioners/register/photo" %}
{% if cya %}
  {% set backLinkHref = "/practitioners/register/check-answers" %}
{% endif %}

{% block beforeContent %}
  {{
    govukBackLink({
    text: "Back",
    href: backLinkHref
    })
  }}
{% endblock %}

{% set title = "Does this photo meet the rules?" %}
{% set pageTitle = title %}
{% set name = [formData['firstName'], ' ', formData['lastName']]  | join %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p>Make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the person is in a well lit area</li>
        <li>the person is in front of a plain background</li>
        <li>the person's face is in the frame</li>
        <li>there is no other person in the photo</li>
        <li>the person is not wearing a hat or sunglasses</li>
      </ul>
      {% if formData["userPhotoUpload"] == "true" %}
        <h2 class="govuk-heading-s">Uploaded image</h2>
      {% else %}
        <h2 class="govuk-heading-s">Captured image</h2>
      {% endif %}
      <div class="es-uploaded-image" data-person="{{ name }}">
        <span>Image</span>
      </div>
      <div class="govuk-button-group">
        {% if cya %}
          <a href="/practitioners/register/check-answers" class="govuk-button">Yes, continue</a>
        {% else %}
          <a href="/practitioners/register/contact" class="govuk-button">Yes, continue</a>
        {% endif %}

        {% if formData["userPhotoUpload"] == "true" %}
          <a
            href="/practitioners/register/photo/upload{{ "?checkAnswers=true" if cya else "" }}"
            class="govuk-button govuk-button--secondary"
            >No, upload another photo</a
          >
        {% else %}
          <a
            href="/practitioners/register/photo{{ "?checkAnswers=true" if cya else "" }}"
            class="govuk-button govuk-button--secondary"
            >No, take another photo</a
          >
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
