{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../layout.njk" %}
{% set section = "register" %}

{% block beforeContent %}
  {{
    govukBackLink({
    text: "Back",
    href: "/practitioners/register/check-answers" if cya else "/practitioners/register/photo"
    })
  }}
{% endblock %}

{% set title = ["Upload a photo of ", formData['firstName'], ' ', formData['lastName']]  | join %}
{% set pageTitle = title %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p>Before you upload the photo, make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the person is in a well lit area</li>
        <li>the person is in front of a plain background</li>
        <li>there is no other person in the photo</li>
        <li>the person is not wearing a hat or sunglasses</li>
      </ul>

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {% set validationError = validationErrors | findError("photoUpload") %}
        <div class="govuk-form-group {% if validationError %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="photoUpload"> Upload a photo </label>
          {% if validationError %}
            <p id="photoUploadMessage" class="govuk-error-message">{{ validationError.text }}</p>
          {% endif %}
          <div class="govuk-drop-zone" data-module="govuk-file-upload">
            <input class="govuk-file-upload" id="photoUpload" name="photoUpload" type="file" accept="image/*" />
          </div>
        </div>

        <div id="photoPreview"></div>

        <div class="govuk-inset-text">
          <p>
            For data protection, you must delete any photos you have of people on probation from your device, and any
            systems you used to send photos to yourself, for example Email or Teams.
          </p>
        </div>

        <input type="hidden" name="userPhotoUpload" id="userPhotoUpload" value="true" />
        <input type="hidden" name="checkYourAnswers" value="{{ cya }}" />
        <div class="govuk-button-group">
          {{
            govukButton({
              text: "Upload photo",
              type: "submit",
              id: "upload-photo"
            })
          }}
          <a
            href="/practitioners/register/photo{{ "?checkAnswers=true" if cya else "" }}"
            class="govuk-link govuk-link--no-visited-state"
            >Take a photo instead</a
          >
        </div>
      </form>
    </div>
  </div>
{% endblock %}
