{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Confirm your identity" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/" + submissionId + "/questions/callback"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>Next, we need to record a 5 second video of you on this device. You do not need to speak in the video. Anything you say will not be recorded.</p>
      <p>
        We’ll use your video to confirm who you are. We’ll do this by comparing your video with the photo your probation
        officer took when they signed you up. This video will only be used to confirm your identity.
      </p>
      <p>You’ll need to accept permissions to record a video on your device.</p>
      <h2 class="govuk-heading-s">Before you record your video</h2>
      <p>Before you record your video, make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you are in a well lit area</li>
        <li>you are in front of a plain background</li>
        <li>your face is in the frame</li>
        <li>you are not wearing a hat or sunglasses</li>
      </ul>
      {{ govukInsetText({
        text: "Remember this is a probation check in and should be treated the same as a face to face meeting. You should wear appropriate clothing when taking the video."
      }) }}
      {{
        govukButton({
        text: "Continue",
        href: "/" + submissionId + "/video/record"
        })
      }}
    </div>
  </div>
{% endblock %}
