{% extends "layouts/content.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = t('video.inform.pageTitle') %}
{% set content = getContent('video.inform') %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{ content.title }}</h1>
  <p class="govuk-body">{{ content.intro }}</p>
  <p class="govuk-body">{{ content.explanation }}</p>
  <p class="govuk-body">{{ content.permissionNote }}</p>

  <h2 class="govuk-heading-s">{{ content.beforeYouRecord.title }}</h2>
  <p class="govuk-body">{{ content.beforeYouRecord.description }}</p>
  <ul class="govuk-list govuk-list--bullet">
    {% for item in content.beforeYouRecord.items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>

  {{ govukInsetText({
    text: content.clothingReminder
  }) }}

  {{ govukButton({
    text: t('common.continue'),
    href: "/" + submissionId + "/video/record"
  }) }}
{% endblock %}
