{% extends "layouts/video.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = t('video.record.pageTitle') %}
{% set content = getContent('video.record') %}
{% set permissionError = content.permissionError %}

{% block pageContent %}
  <div data-module="videoRecorder">
    {# Recording Screen #}
    <div class="es-pane" id="recordingScreen">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ content.title }}</h1>

          <div
            class="videoRecorder__container"
            id="videoContainer"
            data-video-upload-url="{{ videoUploadUrl }}"
            data-submission-id="{{ submissionId }}"
            {% if frameUploadUrl | length > 0 %}
              data-image-upload-url="{{ frameUploadUrl[0] }}"
            {% endif %}
          >
            <div class="videoRecorder__videoWrap">
              <video id="video" class="videoRecorder__video" autoplay muted playsinline></video>
              <span class="videoRecorder__frame"></span>
              <canvas id="canvas" hidden></canvas>

              {{ govukTag({
                text: "",
                classes: "govuk-tag--red videoRecorder__tag",
                attributes: {
                  id: "statusTag"
                }
              }) }}
            </div>
          </div>

          {# Permission Error Message #}
          <div class="videoRecorder__error" id="errorMessage" hidden>
            {{ govukInsetText({
              classes: "es-inset-text--error",
              html: '<h2 class="govuk-heading-m es-heading--error">' + permissionError.title + '</h2><p>' + permissionError.body + '</p>'
            }) }}
          </div>
        </div>
      </div>

      {# Sticky Action Bar #}
      <div id="stickyActionBar" class="sticky-action-bar">
        <div class="sticky-action-bar__inner">
          {{ govukButton({
            text: content.startButton,
            id: "startBtn",
            disabled: true,
            attributes: {
              "aria-disabled": "true"
            }
          }) }}
        </div>
      </div>
      <div id="stickyActionSpacer" aria-hidden="true"></div>
      <div id="stickyActionSentinel" aria-hidden="true"></div>
    </div>
  </div>

  {# Include video state screens #}
  {% include "./partials/loading.njk" %}
  {% include "./partials/match.njk" %}
  {% include "./partials/nomatch.njk" %}
  {% include "./partials/error.njk" %}
{% endblock %}
