{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = t('submission.video.record.title') %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + "/video/inform"
    })
  }}
{% endblock %}

{% block content %}
  <div data-module="videoRecorder">
    <div class="es-pane" id="recordingScreen">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
          <p class="govuk-body">{{ t('submission.video.record.intro') }}</p>
          <div
            class="videoRecorder__container"
            id="videoContainer"
            data-video-upload-url="{{ videoUploadUrl }}"
            data-submission-id="{{ submissionId }}"
            {% if frameUploadUrl.length > 0 %}
              data-image-upload-url="{{ frameUploadUrl[0] }}"
            {% endif %}
          >
            <div class="videoRecorder__videoWrap">
              <video id="video" class="videoRecorder__video" autoplay muted playsinline></video>
              <span class="videoRecorder__frame"></span>
              <canvas id="canvas" hidden></canvas>
              <div id="statusTag" class="govuk-tag govuk-tag--red videoRecorder__tag"></div>
            </div>

          </div>
          <div class="videoRecorder__error" id="errorMessage" hidden>
            <div class="govuk-inset-text es-inset-text--error">
              <h2 class="govuk-heading-m es-heading--error">{{ t('submission.video.record.permissionsHeading') }}</h2>
              <p>
                {{ t('submission.video.record.permissionsBody') }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="stickyActionBar" class="sticky-action-bar">
        <div class="sticky-action-bar__inner">
        <button id="startBtn" class="govuk-button" disabled aria-disabled="true">{{ t('submission.video.record.startButton') }}</button>
        </div>
      </div>
      <div id="stickyActionSpacer" aria-hidden="true"></div>
      <div id="stickyActionSentinel" aria-hidden="true"></div>
    </div>
  </div>




  {% include "./partials/loading.njk" %}
  {% include "./partials/match.njk" %}
  {% include "./partials/nomatch.njk" %}
  {% include "./partials/error.njk" %}
{% endblock %}
