{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = t('submission.video.view.title') %}
{% set showPane = true %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + "/check-your-answers" if cya else "/" + submissionId + "/video/record"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if checkin.autoIdCheck == 'MATCH' or autoVerifyResult == 'MATCH' %}
        <h1 class="govuk-heading-l">{{ t('submission.video.view.match.heading') }}</h1>
        <p>{{ t('submission.video.view.match.intro') }}</p>
        <div class="videoRecorder__videoWrap">
          <video
            class="videoRecorder__video-preview"
            id="matchPreview"
            src="{{ checkin.videoUrl }}"
            controls
          >
            {{ t('submission.video.view.browserUnsupported') }}
          </video>
        </div>
        <div class="govuk-button-group">
          <a
            class="govuk-button"
            data-module="govuk-button"
            role="button"
            href="/{{ submissionId }}/check-your-answers"
            >{{ t('submission.video.view.match.continue') }}</a
          >
        </div>
      {% else %}
        <h1 class="govuk-heading-l">{{ t('submission.video.view.noMatch.heading') }}</h1>
        <p>
          {{ t('submission.video.view.noMatch.intro') }}
        </p>
        <div class="videoRecorder__videoWrap">
          <video
            class="videoRecorder__video-preview"
            id="noMatchPreview"
            src="{{ checkin.videoUrl }}"
            controls
          >
            {{ t('submission.video.view.browserUnsupported') }}
          </video>
        </div>
        <p class="govuk-!-font-weight-bold">{{ t('submission.video.view.noMatch.rulesIntro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('submission.video.view.noMatch.rules.litArea') }}</li>
          <li>{{ t('submission.video.view.noMatch.rules.plainBackground') }}</li>
          <li>{{ t('submission.video.view.noMatch.rules.faceInFrame') }}</li>
          <li>{{ t('submission.video.view.noMatch.rules.noHatSunglasses') }}</li>
        </ul>
        <div class="govuk-button-group">
          <a class="govuk-button" role="button" href="/{{ submissionId }}/video/record"
            >{{ t('submission.video.view.noMatch.recordAgain') }}</a
          >
          <a
            class="govuk-button govuk-button--secondary"
            role="button"
            data-module="govuk-button"
            href="/{{ submissionId }}/check-your-answers"
          >
            {{ t('submission.video.view.noMatch.submitAnyway') }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
