{% extends "layouts/content.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = t('video.view.pageTitle') %}
{% set content = getContent('video.view') %}

{% block contentBody %}
  <h1 class="govuk-heading-l">{{ content.title }}</h1>

  {# Video preview would go here - placeholder for video playback #}
  <div class="es-video-preview">
    {# Video element populated by JavaScript #}
  </div>

  {{ govukButton({
    text: t('common.continue'),
    href: "/" + submissionId + "/check-your-answers"
  }) }}
{% endblock %}
