@use 'govuk-frontend/dist/govuk/index' as gds;

.hmpps-language-toggle__container {
  @include gds.govuk-media-query(tablet) {
    justify-content: space-between;
    align-items: center;
  }
}

.hmpps-language-toggle {
  margin: 0 0 1rem;
  @include gds.govuk-media-query(tablet) {
    margin: 0;
  }
  &__list {
    list-style: none;
    margin: 0 -1rem;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    @include gds.govuk-font(16);
  }

  &__item {
    padding: 0 1rem;
  }

  &__item:first-child {
    border-right: 1px solid gds.$govuk-border-colour;
  }

  @media print {
    display: none;
  }
}
