@use 'govuk-frontend/dist/govuk/index' as gds;

.es-table--responsive {
  .govuk-table__head {
    display: none;
    @include gds.govuk-media-query($from: tablet) {
      display: table-header-group;
    }
  }

  .govuk-table__caption {
    margin-bottom: 10px;
  }

  .govuk-table__body {
    tr {
      margin-bottom: 1rem;
      display: block;
      float: left;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid gds.$govuk-border-colour;
      @include gds.govuk-media-query($from: tablet) {
        display: table-row;
        border: none;
        float: none;
        margin: 0;
      }

      th,
      td {
        display: block;
        text-align: right;
        clear: left;
        float: left;
        width: 100%;
        padding: 10px 10px 8px;
        box-sizing: border-box;
        border-bottom: 1px dotted gds.$govuk-border-colour;
        @include gds.govuk-media-query($from: tablet) {
          display: table-cell;
          text-align: left;
          float: none;
          clear: none;
          padding: 10px 20px 10px 0;
          border-bottom-style: solid;
          width: auto;
          &.govuk-table__cell--numeric {
            text-align: right;
          }
          &.es-table__cell--highlight {
            padding-left: 10px;
            padding-right: 10px;
          }
        }

        &:before {
          content: attr(data-label);
          float: left;
          font-weight: bold;
          padding-right: 10px;
          @include gds.govuk-media-query($from: tablet) {
            display: none;
          }
        }

        &:last-child {
          border-bottom: none;
          @include gds.govuk-media-query($from: tablet) {
            padding-right: 0;
            border-bottom: 1px solid gds.$govuk-border-colour;
            &.es-table__cell--highlight {
              padding-right: 1rem;
            }
          }
        }

        &:empty {
          display: none;
        }
      }

      th {
        text-align: left;
        background: #f4f8fb;
        @include gds.govuk-media-query($from: tablet) {
          background: transparent;
        }
      }
    }
  }
}

.es-table__cell--highlight {
  background-color: gds.govuk-colour("light-grey");
  padding-left: 1rem;
  padding-right: 1rem;

  &:last-child {
    padding-right: 1rem;
  }

  @include gds.govuk-media-query($from: tablet) {
    border-left: 1px solid gds.$govuk-border-colour;
  }
}

.es-table__cell--extra-highlight {
  background-color: #f4f8fb;
  border-color: #8eb8dc;
}

.es-table--stats {
  @include gds.govuk-media-query($from: tablet) {
    .govuk-table__body {
      .govuk-table__header {
        width: 40%;
      }

      .govuk-table__cell--numeric:not(.es-table__cell--highlight) {
        width: 10%;
        border-left: 1px dotted #ddd;
      }
    }
  }
}

