@use 'govuk-frontend/dist/govuk/index' as gds;

#face-liveness-root {
  max-width: 30rem;
  margin-bottom: 1rem;
}

.sticky-action-bar {
  position: relative;
  margin-bottom: 1rem;

  &.stuck {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 1rem;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.8);
  }

  &__inner {
    max-width: 960px;
    margin: 0 auto;
  }

  .govuk-button {
    margin-bottom: 0;
  }
}

#stickyActionSpacer, #stickyActionSentinel {
  height: 0;
}
