{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = t('submission.liveness.record.title') %}

{% block head %}
  {{ super() }}
  <link href="{{ '/assets/css/face-liveness.css' | assetMap }}" rel="stylesheet" />
{% endblock %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + "/liveness/inform"
    })
  }}
{% endblock %}

{% block content %}
  {% include "./partials/instructions.njk" %}

  <div
    id="face-liveness-root"
    data-session-id="{{ sessionId }}"
    data-region="{{ region }}"
    data-submission-id="{{ submissionId }}"
    data-csrf-token="{{ csrfToken }}"
    data-allow-mocks="{{ allowMocks }}"
  ></div>

  {% include "./partials/loading.njk" %}

{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="{{ '/assets/js/face-liveness.js' | assetMap }}"></script>
{% endblock %}
