{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% extends "../../../partials/layout.njk" %}

{% set pageTitle = t('submission.liveness.view.title') %}
{% set showPane = true %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: t('common.buttons.back'),
      href: "/" + submissionId + "/liveness/check-your-answers" if cya else "/" + submissionId + "/liveness/record"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if isLive == true and autoVerifyResult == 'MATCH' %}
        <h1 class="govuk-heading-l">{{ t('submission.liveness.view.match.heading') }}</h1>
        <p>{{ t('submission.liveness.view.match.intro') }}</p>
        <div class="govuk-button-group">
          {{ govukButton({ text: t('submission.liveness.view.match.continue'), href: "/" + submissionId + "/liveness/check-your-answers" }) }}
        </div>
      {% elif isLive == true and autoVerifyResult == 'NO_MATCH' %}
        <h1 class="govuk-heading-l">{{ t('submission.liveness.view.liveNoMatch.heading') }}</h1>
        <p>{{ t('submission.liveness.view.liveNoMatch.intro') }}</p>
        <p class="govuk-!-font-weight-bold">{{ t('submission.liveness.view.liveNoMatch.rulesHeading') }}</p>
        <p>{{ t('submission.liveness.view.liveNoMatch.rulesIntro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('submission.liveness.view.liveNoMatch.rules.faceInFrame') }}</li>
          <li>{{ t('submission.liveness.view.liveNoMatch.rules.litArea') }}</li>
          <li>{{ t('submission.liveness.view.liveNoMatch.rules.plainBackground') }}</li>
          <li>{{ t('submission.liveness.view.liveNoMatch.rules.noHatSunglasses') }}</li>
        </ul>
        <div class="govuk-button-group">
          {{ govukButton({ text: t('submission.liveness.view.liveNoMatch.tryAgain'), href: "/" + submissionId + "/liveness/record" }) }}
          {{ govukButton({ text: t('submission.liveness.view.liveNoMatch.submitAnyway'), classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/check-your-answers" }) }}
        </div>
      {% elif isLive == false and autoVerifyResult == 'MATCH' %}
        <h1 class="govuk-heading-l">{{ t('submission.liveness.view.notLiveMatch.heading') }}</h1>
        <p>{{ t('submission.liveness.view.notLiveMatch.intro') }}</p>
        <p class="govuk-!-font-weight-bold">{{ t('submission.liveness.view.notLiveMatch.rulesHeading') }}</p>
        <p>{{ t('submission.liveness.view.notLiveMatch.rulesIntro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('submission.liveness.view.notLiveMatch.rules.faceInFrame') }}</li>
          <li>{{ t('submission.liveness.view.notLiveMatch.rules.followInstructions') }}</li>
          <li>{{ t('submission.liveness.view.notLiveMatch.rules.steadyPace') }}</li>
        </ul>
        <div class="govuk-button-group">
          {{ govukButton({ text: t('submission.liveness.view.notLiveMatch.tryAgain'), href: "/" + submissionId + "/liveness/record" }) }}
          {{ govukButton({ text: t('submission.liveness.view.notLiveMatch.submitAnyway'), classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/check-your-answers" }) }}
        </div>
      {% elif isLive == false and autoVerifyResult == 'NO_MATCH' %}
        <h1 class="govuk-heading-l">{{ t('submission.liveness.view.notLiveNoMatch.heading') }}</h1>
        <p>{{ t('submission.liveness.view.notLiveNoMatch.intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('submission.liveness.view.notLiveNoMatch.reasons.noMatch') }}</li>
          <li>{{ t('submission.liveness.view.notLiveNoMatch.reasons.notLive') }}</li>
        </ul>
        <p class="govuk-!-font-weight-bold">{{ t('submission.liveness.view.notLiveNoMatch.rulesHeading') }}</p>
        <p>{{ t('submission.liveness.view.notLiveNoMatch.rulesIntro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('submission.liveness.view.notLiveNoMatch.rules.faceInFrame') }}</li>
          <li>{{ t('submission.liveness.view.notLiveNoMatch.rules.followInstructions') }}</li>
          <li>{{ t('submission.liveness.view.notLiveNoMatch.rules.steadyPace') }}</li>
        </ul>
        <div class="govuk-button-group">
          {{ govukButton({ text: t('submission.liveness.view.notLiveNoMatch.tryAgain'), href: "/" + submissionId + "/liveness/record" }) }}
          {{ govukButton({ text: t('submission.liveness.view.notLiveNoMatch.submitAnyway'), classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/check-your-answers" }) }}
        </div>
      {% elif autoVerifyResult == 'MATCH' %}
        <h1 class="govuk-heading-l">{{ t('submission.liveness.view.fallbackMatch.heading') }}</h1>
        <p>{{ t('submission.liveness.view.fallbackMatch.intro') }}</p>
        <div class="govuk-button-group">
          {{ govukButton({ text: t('submission.liveness.view.fallbackMatch.continue'), href: "/" + submissionId + "/liveness/check-your-answers" }) }}
        </div>
      {% else %}
        <h1 class="govuk-heading-l">{{ t('submission.liveness.view.fallback.heading') }}</h1>
        <p>
          {{ t('submission.liveness.view.fallback.intro') }}
        </p>
        <p class="govuk-!-font-weight-bold">{{ t('submission.liveness.view.fallback.rulesHeading') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('submission.liveness.view.fallback.rules.litArea') }}</li>
          <li>{{ t('submission.liveness.view.fallback.rules.plainBackground') }}</li>
          <li>{{ t('submission.liveness.view.fallback.rules.faceInFrame') }}</li>
          <li>{{ t('submission.liveness.view.fallback.rules.noHatSunglasses') }}</li>
        </ul>
        <div class="govuk-button-group">
          {{ govukButton({ text: t('submission.liveness.view.fallback.tryAgain'), href: "/" + submissionId + "/liveness/record" }) }}
          {{ govukButton({ text: t('submission.liveness.view.fallback.submitAnyway'), classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/check-your-answers" }) }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
