{% extends "layouts/base.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageBeforeContent %}
  {% if backLink %}
    {{ govukBackLink({
      text: t('common.back'),
      href: backLink
    }) }}
  {% endif %}
{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if validationErrors | length %}
        {{ govukErrorSummary({
          titleText: t('common.errorSummaryTitle'),
          errorList: validationErrors
        }) }}
      {% endif %}

      {% block formIntro %}{% endblock %}

      <form method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {% block formContent %}{% endblock %}

        {{ govukButton({
          text: buttonText | default(t('common.continue'))
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
