{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ t('submission.liveness.partials.cameraError.heading') }}</h1>
    <div class="govuk-inset-text es-inset-text--error">
      <h2 class="govuk-heading-m es-heading--error">{{ t('submission.liveness.partials.cameraError.subHeading') }}</h2>
      <p>
        {{ t('submission.liveness.partials.cameraError.body') }}
      </p>
    </div>
    {{ govukButton({
      text: t('submission.liveness.partials.cameraError.start'),
      href: "/" + submissionId + "/liveness/record",
      attributes: { id: "camera-error-start" }
    }) }}
  </div>
</div>
<script type="module" src="{{ '/assets/js/liveness-camera-error.js' | assetMap }}"></script>
