<div class="es-pane" id="cameraErrorScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You need to accept permissions on your device</h1>
      <p>
        We are unable to access your camera to verify your identity. Check your browser settings and permissions. If
        you are having trouble using this service, contact your probation officer.
      </p>
    </div>
  </div>
</div>
