{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="es-pane" id="cameraFramerateScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">There's been a problem with your identity check</h1>
      <p>
        This is because your camera is working slowly when we’re trying to verify your identity.
      </p>
      <p>
        You could try closing any apps that may be slowing down your camera and trying to verify your identity again.
      </p>
      <p class="govuk-!-font-weight-bold">If you try to verify your identity again</p>
      <p>Make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your face is in the frame</li>
        <li>you follow the instructions to move closer, keeping your face in the frame</li>
        <li>you move at a steady pace</li>
      </ul>
      <p>
        If you are struggling to confirm your identity this way, you can record a video instead.
      </p>
      <div class="govuk-button-group">
        {{ govukButton({ text: "Verify identity again", element: "a", attributes: { "data-liveness-retry": "" } }) }}
        {{ govukButton({ text: "Record a video instead", classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/fallback-inform" }) }}
      </div>
    </div>
  </div>
</div>
