<div class="es-pane" id="cameraErrorScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Verify your identity</h1>
      <div class="govuk-inset-text es-inset-text--error">
        <h2 class="govuk-heading-m es-heading--error">You need to accept permissions on your device</h2>
        <p>
          We are unable to access your camera to verify your identity. Check your browser settings and permissions.
          If you are having trouble using this service, contact your probation officer.
        </p>
      </div>
    </div
  </div>
</div>
