{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="es-pane" id="connectionTimeoutScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">There's been a problem with your identity check</h1>
      <p>
        We could not connect to the identity check service. This is usually because of a problem with your internet connection.
      </p>
      <p class="govuk-!-font-weight-bold">If you try to verify your identity again</p>
      <p>Make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you have a stable internet connection</li>
        <li>you are not using a VPN that might block the connection</li>
        <li>you move to an area with better signal if you are on mobile data</li>
      </ul>
      <p>
        If you are struggling to confirm your identity this way, you can record a video instead.
      </p>
      <div class="govuk-button-group">
        {{ govukButton({ text: "Verify identity again", element: "a", attributes: { "data-liveness-retry": "" } }) }}
        {{ govukButton({ text: "Record a video instead", classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/fallback-inform" }) }}
      </div>
    </div>
  </div>
</div>
