{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ t('submission.liveness.partials.error.heading') }}</h1>
    <p>{{ t('submission.liveness.partials.error.intro') }}</p>
    <p class="govuk-!-font-weight-bold">{{ t('submission.liveness.partials.error.rulesHeading') }}</p>
    <p>{{ t('submission.liveness.partials.error.rulesIntro') }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ t('submission.liveness.partials.error.rules.faceInFrame') }}</li>
      <li>{{ t('submission.liveness.partials.error.rules.followInstructions') }}</li>
      <li>{{ t('submission.liveness.partials.error.rules.steadyPace') }}</li>
    </ul>
    <p>
      {{ t('submission.liveness.partials.error.fallbackHint') }}
    </p>
    <div class="govuk-button-group">
      {{ govukButton({ text: t('submission.liveness.partials.error.verifyAgain'), href: "/" + submissionId + "/liveness/record" }) }}
      {{ govukButton({ text: t('submission.liveness.partials.error.recordInstead'), classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/fallback-inform" }) }}
    </div>
  </div>
</div>
