<div class="es-pane" id="fallbackRecordingScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Record your video</h1>
      <p class="govuk-body">You do not need to do anything during the video. Anything you say will not be recorded.</p>
      <div class="videoRecorder__container" id="fallbackVideoContainer">
        <div class="videoRecorder__videoWrap">
          <video id="fallbackVideo" class="videoRecorder__video" autoplay muted playsinline></video>
          <span class="videoRecorder__frame"></span>
          <canvas id="fallbackCanvas" hidden></canvas>
          <div id="fallbackStatusTag" class="govuk-tag govuk-tag--red videoRecorder__tag"></div>
        </div>
      </div>
      <div class="videoRecorder__error" id="fallbackCameraError" hidden>
        <div class="govuk-inset-text es-inset-text--error">
          <h2 class="govuk-heading-m es-heading--error">You need to accept permissions on your device</h2>
          <p>
            We are unable to access your camera to record a video. Check your browser settings and permissions. If
            you are having trouble using this service, contact your probation officer.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="fallbackStickyActionBar" class="sticky-action-bar">
    <div class="sticky-action-bar__inner">
      <button id="fallbackStartBtn" class="govuk-button" disabled aria-disabled="true">Start recording</button>
    </div>
  </div>
</div>
