{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="es-pane" id="fallbackNoMatchScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">We cannot confirm this is you</h1>
      <p>We have checked and we cannot confirm this is you. You can try recording again or submit your video anyway.</p>
      <h2 class="govuk-heading-m">If you record your video again</h2>
      <p>In your video, make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you are in a well lit area</li>
        <li>you are in front of a plain background</li>
        <li>your face is in the frame</li>
        <li>you are not wearing a hat or sunglasses</li>
      </ul>
      <div class="govuk-button-group">
        {{ govukButton({ text: "Record video again", element: "a", attributes: { "data-fallback-video": "" } }) }}
        {{ govukButton({ text: "Submit video anyway", classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/check-your-answers" }) }}
      </div>
    </div>
  </div>
</div>
