<div id="instructionsScreen">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Verify your identity</h1>
      <p>
        To verify your identity you will need to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>place your face in the frame</li>
        <li>press the start button</li>
        <li>follow the instructions to move your face closer, keeping it in the frame</li>
      </ul>
    </div>
  </div>
</div>
