<div id="instructionsScreen">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('submission.liveness.partials.instructions.heading') }}</h1>
      <p>
        {{ t('submission.liveness.partials.instructions.intro') }}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('submission.liveness.partials.instructions.items.placeFace') }}</li>
        <li>{{ t('submission.liveness.partials.instructions.items.pressStart') }}</li>
        <li>{{ t('submission.liveness.partials.instructions.items.followInstructions') }}</li>
      </ul>
    </div>
  </div>
</div>
