<div class="es-pane" id="loadingScreen" hidden aria-hidden="true">
  <div class="es-loader">
    <div class="es-loader__spinner" aria-live="polite" role="status"></div>
    <div class="es-loader__content">
      <h1 class="govuk-heading-m">Checking this is you</h1>
    </div>
  </div>
</div>
