{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      {{ t('submission.liveness.partials.match.heading') }}
    </h1>
    <p>
      {{ t('submission.liveness.partials.match.intro') }}
    </p>
    <div class="govuk-button-group">
      {{ govukButton({ text: t('submission.liveness.partials.match.continue'), href: "/" + submissionId + "/liveness/check-your-answers" }) }}
    </div>
  </div>
</div>
