{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="es-pane" id="notLiveNoMatchScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">There's been a problem with your identity check</h1>
      <p>We cannot confirm this is you. This is because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your image does not match the photo we have on your file</li>
        <li>you did not move quickly enough, or your face left the frame</li>
      </ul>
      <p class="govuk-!-font-weight-bold">If you try to verify your identity again</p>
      <p>Make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your face is in the frame</li>
        <li>you follow the instructions to move closer, keeping your face in the frame</li>
        <li>you move at a steady pace</li>
      </ul>
      <p>
        If you are struggling to confirm your identity, you can still submit your check in. Your probation officer
        will confirm this is you when they review your check in.
      </p>
      <div class="govuk-button-group">
        {{ govukButton({ text: "Verify identity again", element: "a", attributes: { "data-liveness-retry": "" } }) }}
        {{ govukButton({ text: "Continue to check your answers", classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/check-your-answers" }) }}
      </div>
    </div>
  </div>
</div>
