{% from "govuk/components/button/macro.njk" import govukButton %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">There's been a problem with your identity check</h1>
    <p>
      We cannot confirm this is you. This is because you ran out of time to move your face during your identity check.
    </p>
    <p class="govuk-!-font-weight-bold">If you try to verify your identity again</p>
    <p>Make sure:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your face is in the frame</li>
      <li>you follow the instructions to move closer, keeping your face in the frame</li>
      <li>you move at a steady pace</li>
    </ul>
    <p>
      If you are struggling to confirm your identity this way, you can record a video instead.
    </p>
    <div class="govuk-button-group">
      {{ govukButton({ text: "Verify identity again", href: "/" + submissionId + "/liveness/record" }) }}
      {{ govukButton({ text: "Record a video instead", classes: "govuk-button--secondary", href: "/" + submissionId + "/liveness/fallback-inform" }) }}
    </div>
  </div>
</div>
