<div class="es-pane" id="timeoutScreen" hidden aria-hidden="true">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">The identity check did not complete in time</h1>
      <p>The check needs to be completed within 30 seconds. You can record a short video instead and we will use that to verify your identity.</p>
      <div class="govuk-button-group">
        <a class="govuk-button" role="button" data-fallback-video>Record a short video</a>
      </div>
    </div>
  </div>
</div>
