{% extends "../../partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "../../partials/errorSummary.njk" import errorSummary %}

{% set pageTitle = t('public.feedback.provide.heading') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('public.feedback.provide.heading') }}</h1>
      {{ errorSummary(validationErrors, t('common.errorSummary.title')) }}

      <p>
        {{ t('public.feedback.provide.optional') }}
      </p>

      <p>{{ t('public.feedback.provide.anonymous') }}</p>

      <form method="POST" action="/feedback" id="feedbackForm">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukRadios({
              name: "howEasy",
              errorMessage: validationErrors | findError("howEasy"),
              value: formData["howEasy"],
              fieldset: {
                legend: {
                  text: t('public.feedback.provide.howEasy.legend'),
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
              {
                value: "veryEasy",
                text: t('public.feedback.provide.howEasy.veryEasy')
              },
              {
                value: "easy",
                text: t('public.feedback.provide.howEasy.easy')
              },
              {
                value: "neitherEasyOrDifficult",
                text: t('public.feedback.provide.howEasy.neitherEasyOrDifficult')
              },
              {
                value: "difficult",
                text: t('public.feedback.provide.howEasy.difficult')
              },
              {
                value: "veryDifficult",
                text: t('public.feedback.provide.howEasy.veryDifficult')
              }
            ]
          })
        }}

        {{
          govukRadios({
              name: "gettingSupport",
              value: formData["gettingSupport"],
              fieldset: {
                legend: {
                  text: t('public.feedback.provide.gettingSupport.legend'),
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
              {
                value: "yes",
                text: t('public.feedback.provide.gettingSupport.yes')
              },
              {
                value: "no",
                text: t('public.feedback.provide.gettingSupport.no')
              }
            ]
          })
        }}

        {{
          govukCheckboxes({
            name: "improvements",
            values: formData["improvements"],
            fieldset: {
              legend: {
                text: t('public.feedback.provide.improvements.legend'),
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: improvementItems
          })
        }}

        {{ govukButton({
          text: t('public.feedback.provide.submit'),
          preventDoubleClick: true
        })
        }}
      </form>
    </div>
  </div>
{% endblock %}
