{% extends "../../partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Thank you for your feedback</h1>
      <p> Your feedback is anonymous so you will not receive a reply.</p>
    </div>
  </div>
{% endblock %}