{% extends "../../partials/layout.njk" %}

{% set pageTitle = t('public.feedback.thankyou.heading') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('public.feedback.thankyou.heading') }}</h1>
      <p>{{ t('public.feedback.thankyou.body') }}</p>
    </div>
  </div>
{% endblock %}
