{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../layout.njk" %}
{% set section = "register" %}

{% set name = [formData['firstName'], ' ', formData['lastName']]  | join %}
{% set title = "What is " + name + "'s email address?" %}
{% set pageTitle = title %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/practitioners/register/contact?checkAnswers=true" if cya else "/practitioners/register/contact"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">{{ errorSummary(validationErrors) }}</div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <form method="POST" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukInput({
          label: {
              text: title,
              classes: "govuk-label--l",
              isPageHeading: true
          },
          id: "email",
          name: "email",
          errorMessage: validationErrors | findError("email") | default(null),
          value: formData["email"],
          type: "email",
          spellcheck: false
          })
        }}

        {{
          govukButton({
              text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
