{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "../../../../partials/errorSummary.njk" import errorSummary %}
{% extends "../../layout.njk" %}
{% set section = "register" %}

{% set name = [formData['firstName'], ' ', formData['lastName']]  | join %}
{% set title = "How does " + name + " want us to send a link to the service?" %}
{% set pageTitle = title %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: "Back",
      href: "/practitioners/register/check-answers" if cya else "/practitioners/register/photo/review"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ errorSummary(validationErrors) }}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="checkYourAnswers" value="{{ cya }}" />
        {{
          govukRadios({
            name: "contactPreference",
            errorMessage: validationErrors | findError("contactPreference") | default(null),
            value: formData["contactPreference"],
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "We will use these details to send a link to " + name + " each time they need to use the check in service."
            },
            items: [
              {
                value: "TEXT",
                text: "Text message"
              },
              {
                value: "EMAIL",
                text: "Email"
              }
            ]
          })
        }}

        {{
          govukButton({
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
