{% extends "../layout.njk" %}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}
{% set section = "cases" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Create invite</h1>
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          mojDatePicker({
            id: "dueDate",
            name: "dueDate",
            minDate: yesterday,
            label: {
              text: "Due date"
            }
          })
        }}
        <button type="submit" class="govuk-button">Create invite</button>
      </form>
    </div>
  </div>
{% endblock %}
