{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{% extends "../layout.njk" %}
{% set section = "cases" %}

{% set name = [case.firstName, ' ', case.lastName] | join %}

{% macro changeButton(status, link, hiddenText) %}
  {% if status != "INACTIVE" %}
    <a href="{{ link }}" class="govuk-link govuk-link--no-visited-state"
      >Change<span class="govuk-visually-hidden"> {{ hiddenText }}</span></a
    >
  {% endif %}
{% endmacro %}

{% block beforeContent %}
  <div class="es-page-actions">
    <div class="es-page-actions__back">
      {{
        govukBackLink({
          text: "Back",
          href: "/practitioners/cases/stopped" if case.status == "INACTIVE" else "/practitioners/cases"
        })
      }}
    </div>
    <div class="es-page-actions__actions">
      <div class="govuk-button-group">
        {% if flags.debugMode == true and case.status == "VERIFIED" %}
          <a href="{{ offenderId }}/invite" class="govuk-button govuk-button--secondary es-debug">Invite</a>
        {% endif %}
        {% if case.status != "INACTIVE" %}
          {% if currentCheckinUuid %}
            <a href="/practitioners/checkin/{{ currentCheckinUuid }}/resend" class="govuk-link">
              Resend check in link
            </a>
          {% endif %}
          <a
            href="/practitioners/cases/{{ offenderId }}/update/stop-checkins"
            class="govuk-button govuk-button--warning"
          >
            Stop check ins
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}

  {% if successMessage %}
    {{
      mojAlert({
        variant: "success",
        title: successMessage.title,
        showTitleAsHeading: true,
        dismissible: false,
        html: successMessage.message
      })
    }}
  {% endif %}

  {% if case.status == "INACTIVE" %}
    {{
      mojAlert({
        variant: "info",
        title: 'Check-ins stopped',
        showTitleAsHeading: true,
        html: 'Reason for stopping: ' + case.deactivationEntry.comment,
        dismissible: false
      })
    }}
  {% endif %}
  <div class="es-page-header">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Manage check ins</span> <span class="govuk-visually-hidden">for</span>
      {{ case.firstName }} {{ case.lastName }} ({{ case.dateOfBirth | gdsDate }})
    </h1>
  </div>

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Personal details</h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          {{ changeButton(case.status, "/practitioners/cases/" + offenderId + "/update/personal-details", "the personal details for " + name) }}
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">First name</dt>
          <dd class="govuk-summary-list__value">{{ case.firstName }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last name</dt>
          <dd class="govuk-summary-list__value">{{ case.lastName }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">{{ case.dateOfBirth | gdsDate }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Case reference number (CRN)</dt>
          <dd class="govuk-summary-list__value">{{ case.crn }}</dd>
        </div>
      </dl>
    </div>
  </div>

  {# Only show photo and contact details if they are active #}
  {% if case.status != "INACTIVE" %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Photo</h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Photo on file</dt>
            <dd class="govuk-summary-list__value">
              <img
                src="{{ "/assets/images/placeholder.png" if case.photoUrl == null else case.photoUrl }}"
                class="es-profile-image es-profile-image--small"
                alt="Profile image of {{ name }}"
              />
            </dd>
          </div>
        </dl>
      </div>
    </div>
    {% set contactPreference = "text" if case.phoneNumber else "email" %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Contact details</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            {{ changeButton(case.status, "/practitioners/cases/" + offenderId + "/update/contact-details", "the contact details for " + name) }}
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">How does {{ name }} want us to send a link?</dt>
            <dd class="govuk-summary-list__value">
              {% if contactPreference == "text" %}
                Text message
              {% else %}
                Email
              {% endif %}
            </dd>
          </div>
          {% if contactPreference == "text" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Mobile number</dt>
              <dd class="govuk-summary-list__value">{{ case.phoneNumber }}</dd>
            </div>
          {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Email address</dt>
              <dd class="govuk-summary-list__value">{{ case.email }}</dd>
            </div>
          {% endif %}
        </dl>
      </div>
    </div>
  {% endif %}

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Check in settings</h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          {{ changeButton(case.status, "/practitioners/cases/" + offenderId + "/update/checkin-settings", "the check in settings for " + name) }}
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Next check in</dt>
          <dd class="govuk-summary-list__value">
            {% if case.status == "INACTIVE" %}
              Check ins stopped
            {% else %}
              {{ nextCheckinDate | gdsDate }}
            {% endif %}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Frequency</dt>
          <dd class="govuk-summary-list__value">{{ case.checkinInterval | userFriendlyString }}</dd>
        </div>
      </dl>
    </div>
  </div>
{% endblock %}
