{% extends "../partials/layout.njk" %}
{% set pageTitle = t('public.accessibility.title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      <p>{{ t('public.accessibility.applies') }}</p>
      <p>
        {{ t('public.accessibility.runBy') }}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.accessibility.items.colours') }}</li>
        <li>{{ t('public.accessibility.items.zoom') }}</li>
        <li>{{ t('public.accessibility.items.keyboard') }}</li>
        <li>
          {{ t('public.accessibility.items.screenReader') }}
        </li>
      </ul>
      <p>{{ t('public.accessibility.simple') }}</p>

      <p>
        {{ t('public.accessibility.abilityNet') | safe }}
      </p>
      <h2 class="govuk-heading-m">{{ t('public.accessibility.howAccessible.heading') }}</h2>
      <p>{{ t('public.accessibility.howAccessible.intro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.accessibility.howAccessible.items.video') }}</li>
        <li>{{ t('public.accessibility.howAccessible.items.speechToText') }}</li>
        <li>{{ t('public.accessibility.howAccessible.items.backLinks') }}</li>
        <li>{{ t('public.accessibility.howAccessible.items.hiddenText') }}</li>
        <li>{{ t('public.accessibility.howAccessible.items.headings') }}</li>
      </ul>
      <h2 class="govuk-heading-m">{{ t('public.accessibility.feedback.heading') }}</h2>
      <p>
        {{ t('public.accessibility.feedback.body', { supportEmailAddress: supportEmailAddress }) | safe }}
      </p>
      <p>{{ t('public.accessibility.feedback.respond') }}</p>
      <h2 class="govuk-heading-m">{{ t('public.accessibility.enforcement.heading') }}</h2>
      <p>
        {{ t('public.accessibility.enforcement.body') | safe }}
      </p>
      <h3 class="govuk-heading-s">{{ t('public.accessibility.technical.heading') }}</h3>
      <p>
        {{ t('public.accessibility.technical.body') }}
      </p>
      <h2 class="govuk-heading-m">{{ t('public.accessibility.compliance.heading') }}</h2>
      <p>{{ t('public.accessibility.compliance.tested') }}</p>
      <p>{{ t('public.accessibility.compliance.publish') }}</p>
      <p>
        {{ t('public.accessibility.compliance.notCompliant') | safe }}
      </p>
      <p>{{ t('public.accessibility.compliance.notTested') }}</p>
      <h2 class="govuk-heading-m">{{ t('public.accessibility.outsideScope.heading') }}</h2>
      <p>{{ t('public.accessibility.outsideScope.body') }}</p>
      <h2 class="govuk-heading-m">{{ t('public.accessibility.preparation.heading') }}</h2>
      <p>{{ t('public.accessibility.preparation.body') }}</p>
    </div>
  </div>
{% endblock %}
