{% extends "../partials/layout.njk" %}

{% set pageContent = getContent('accessibility') %}
{% set pageTitle = pageContent.pageTitle %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
      {{ pageContent.content | safe }}
    </div>
  </div>
{% endblock %}
