{% extends "../layouts/base.njk" %}

{% set mainClasses = "app-container govuk-body" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{
        govukPanel({
          titleText: "Check in completed"
        })
      }}
      <p class="govuk-body">We have sent you a confirmation message.</p>
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p class="govuk-body">
        Your video and answers have been shared with your probation officer. They will contact you if there are any
        concerns with the information you've entered, or if you requested contact.
      </p>
      <p class="govuk-body">We will remind you when it is time for your next check in.</p>
      <p class="govuk-body">
        <a
          href="https://forms.office.com/pages/responsepage.aspx?id=KEeHxuZx_kGp4S6MNndq2GF5fsslU5tImfiqSSPf6JhUQko3QVg0MkVGRTVYV0dFMEJJUzBZUTIyVCQlQCN0PWcu&route=shorturl"
          target="_blank"
          class="govuk-link govuk-link--no-visited-state"
          rel="noopener noreferrer"
          >What did you think of this service? (opens in new tab)</a
        >
      </p>
    </div>
  </div>
{% endblock %}
