{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = t('public.cookies.title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
        <h1 class="govuk-heading-xl">{{ t('public.cookies.heading') }}</h1>
        <p class="govuk-body">{{ t('public.cookies.lastReviewed') }}</p>

        <p class="govuk-body">{{ t('public.cookies.intro') }}</p>

        <p class="govuk-body">{{ t('public.cookies.usedTo') }}</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{ t('public.cookies.items.loggedIn') }}</li>
            <li>{{ t('public.cookies.items.measure') }}</li>
        </ul>

        <p class="govuk-body">{{ t('public.cookies.thirdParty') }}</p>

        <h2 class="govuk-heading-l">{{ t('public.cookies.session.heading') }}</h2>

        <p class="govuk-body">{{ t('public.cookies.session.intro') }}</p>

        {{ govukTable({
            caption: t('public.cookies.table.caption'),
            captionClasses: "govuk-visually-hidden",
            head: [
                {
                    text: t('public.cookies.table.head.type')
                },
                {
                    text: t('public.cookies.table.head.purpose')
                },
                {
                    text: t('public.cookies.table.head.expires')
                }
            ],
            rows: [
                [
                    { text: t('public.cookies.table.rows.session.name') },
                    { text: t('public.cookies.table.rows.session.purpose') },
                    { text: "" }
                ],
                [
                    { text: t('public.cookies.table.rows.featureFlags.name') },
                    { text: t('public.cookies.table.rows.featureFlags.purpose') },
                    { text: "" }
                ],
                [
                    { text: t('public.cookies.table.rows.lang.name') },
                    { text: t('public.cookies.table.rows.lang.purpose') },
                    { text: t('public.cookies.table.rows.lang.expires') }
                ]
            ]
            })
        }}

        <h2 class="govuk-heading-l">{{ t('public.cookies.analytics.heading') }}</h2>

        <p class="govuk-body">{{ t('public.cookies.analytics.body') }}</p>

        <p class="govuk-body">{{ t('public.cookies.analytics.privacyLink') | safe }}</p>
    </div>
  </div>
{% endblock %}
