{% extends "../layouts/base.njk" %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your check in link has expired</h1>
      <p class="govuk-body">Contact your probation officer to request a new link.</p>
    </div>
  </div>
{% endblock %}
