{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% set pageTitle = t('public.guidance.title') %}

{% block beforeContent %}
  {% if backLink %}
    <div class="es-page-actions">
      <div class="es-page-actions__back">
        {{
          govukBackLink({
            text: t('common.buttons.back'),
            href: backLink
          })
        }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
        <h1 class="govuk-heading-xl">{{pageTitle}}</h1>
         <p class="govuk-body">{{ t('public.guidance.intro') }}</p>

        <h2 class="govuk-heading-l">{{ t('public.guidance.choosing.heading') }}</h2>

        <p class="govuk-body">{{ t('public.guidance.choosing.talk') }}</p>

        <p class="govuk-body">{{ t('public.guidance.choosing.stop') }}</p>

        <p class="govuk-body">{{ t('public.guidance.choosing.accessible') }}</p>

        <h2 class="govuk-heading-l">{{ t('public.guidance.signup.heading') }}</h2>

        <p class="govuk-body">{{ t('public.guidance.signup.intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{ t('public.guidance.signup.items.name') }}</li>
            <li>{{ t('public.guidance.signup.items.phone') }}</li>
            <li>{{ t('public.guidance.signup.items.photo') }}</li>
            <li>{{ t('public.guidance.signup.items.startDate') }}</li>
            <li>{{ t('public.guidance.signup.items.frequency') }}</li>
        </ul>
        <p class="govuk-body">{{ t('public.guidance.signup.confirm') }}</p>

        <h3 class="govuk-heading-m">{{ t('public.guidance.signup.photoMatch.heading') }}</h3>

        <p class="govuk-body">{{ t('public.guidance.signup.photoMatch.body') }}</p>

        <h2 class="govuk-heading-l">{{ t('public.guidance.completing.heading') }}</h2>

        <h3 class="govuk-heading-m">{{ t('public.guidance.completing.getLink.heading') }}</h3>

        <p class="govuk-body">{{ t('public.guidance.completing.getLink.firstCheckIn') }}</p>

        <p class="govuk-body">{{ t('public.guidance.completing.getLink.messageDate') }}</p>

        <h3 class="govuk-heading-m">{{ t('public.guidance.completing.whatAsked.heading') }}</h3>

        <p class="govuk-body">{{ t('public.guidance.completing.whatAsked.intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{ t('public.guidance.completing.whatAsked.items.name') }}</li>
            <li>{{ t('public.guidance.completing.whatAsked.items.questions') }}</li>
            <li>{{ t('public.guidance.completing.whatAsked.items.identity') }}</li>
        </ul>

        <p class="govuk-body">{{ t('public.guidance.completing.whatAsked.treat') }}</p>

        <p class="govuk-body">{{ t('public.guidance.completing.whatAsked.outsideUk') }}</p>

        <h4 class="govuk-heading-s">{{ t('public.guidance.completing.verify.heading') }}</h4>

        <p class="govuk-body">{{ t('public.guidance.completing.verify.compare') }}</p>
        <p class="govuk-body">{{ t('public.guidance.completing.verify.permissions') }}</p>

        <h4 class="govuk-heading-s">{{ t('public.guidance.completing.cannotConfirm.heading') }}</h4>

        <p class="govuk-body">{{ t('public.guidance.completing.cannotConfirm.continue') }}</p>
        <p class="govuk-body">{{ t('public.guidance.completing.cannotConfirm.review') }}</p>

        <h2 class="govuk-heading-l">{{ t('public.guidance.questions.heading') }}</h2>
        <p class="govuk-body">{{ t('public.guidance.questions.intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('public.guidance.questions.items.feeling') }}</li>
          <li>{{ t('public.guidance.questions.items.support') }}</li>
        </ul>
        <p class="govuk-body">{{ t('public.guidance.questions.extra') }}</p>

        <h3 class="govuk-heading-m">{{ t('public.guidance.questions.confirmation.heading') }}</h3>

        <p class="govuk-body">{{ t('public.guidance.questions.confirmation.body') }}</p>

        <h4 class="govuk-heading-s">{{ t('public.guidance.questions.askedSupport.heading') }}</h4>

        <p class="govuk-body">{{ t('public.guidance.questions.askedSupport.body') }}</p>

        <h4 class="govuk-heading-s">{{ t('public.guidance.questions.failed.heading') }}</h4>

        <p class="govuk-body">{{ t('public.guidance.questions.failed.body') }}</p>

        <p class="govuk-body">{{ t('public.guidance.questions.failed.difficulty') }}</p>

        <h2 class="govuk-heading-l">{{ t('public.guidance.struggling.heading') }}</h2>

        <p class="govuk-body">{{ t('public.guidance.struggling.intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">

        <li>{{ t('public.guidance.struggling.items.notWorking') }}</li>

        <li>{{ t('public.guidance.struggling.items.difficult') }}</li>

        <li>{{ t('public.guidance.struggling.items.contactChanged') }}</li>

        <li>{{ t('public.guidance.struggling.items.lostPhone') }}</li>

        <li>{{ t('public.guidance.struggling.items.forget') }}</li>

        <li>{{ t('public.guidance.struggling.items.faceToFace') }}</li>
        </ul>
        <p class="govuk-body">{{ t('public.guidance.struggling.noBreach') }}</p>

        <h2 class="govuk-heading-l">{{ t('public.guidance.info.heading') }}</h2>

        <p class="govuk-body">{{ t('public.guidance.info.body') }}</p>

        <p class="govuk-body">{{ t('public.guidance.info.privacyLink') | safe }}</p>

        <h3 class="govuk-heading-m">{{ t('public.guidance.info.sar.heading') }}</h3>

        <p class="govuk-body">{{ t('public.guidance.info.sar.body') }}</p>

        <p class="govuk-body">{{ t('public.guidance.info.sar.email') | safe }}</p>

        <h2 class="govuk-heading-l">{{ t('public.guidance.feedback.heading') }}</h2>

        <p class="govuk-body">{{ t('public.guidance.feedback.form') | safe }}</p>

        <p class="govuk-body">{{ t('public.guidance.feedback.share') }}</p>

        <p class="govuk-body">{{ t('public.guidance.feedback.other') }}</p>
        </div>
    </div>
{% endblock %}
