{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageContent = getContent('guidance') %}
{% set pageTitle = pageContent.pageTitle %}

{% block beforeContent %}
  {% if backLink %}
    <div class="es-page-actions">
      <div class="es-page-actions__back">
        {{
          govukBackLink({
            text: t('common.back') if t else "Back",
            href: backLink
          })
        }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
      {{ pageContent.content | safe }}
    </div>
  </div>
{% endblock %}
