{% extends "../partials/layout.njk" %}

{% set pageTitle = t('public.index.title') %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body-l">
        {{ t('public.index.intro') }}
      </p>

      <h2 class="govuk-heading-m">{{ t('public.index.howToAccess.heading') }}</h2>
      <p class="govuk-body">
        {{ t('public.index.howToAccess.body') }}
      </p>

      <div class="govuk-inset-text">
        {{ t('public.index.howToAccess.inset') }}
      </div>

      <h2 class="govuk-heading-m">{{ t('public.index.needHelp.heading') }}</h2>
      <p class="govuk-body">
        {{ t('public.index.needHelp.body') }}
      </p>
    </div>
  </div>
{% endblock %}
