{% extends "../layouts/base.njk" %}
{% from "../macros/contentSection.njk" import contentSection %}
{% from "../macros/bulletList.njk" import bulletList %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ content.title }}</h1>
      <p class="govuk-body">{{ content.introduction }}</p>

      {{ contentSection(content.beforeYouStart.heading) }}
      {{ bulletList(content.beforeYouStart.items, content.beforeYouStart.intro) }}
      <p class="govuk-body">{{ content.beforeYouStart.disclaimer }}</p>

      {{ contentSection(content.whatYouNeedToDo.heading) }}
      {{ bulletList(content.whatYouNeedToDo.items, content.whatYouNeedToDo.intro) }}
      <p class="govuk-body">{{ content.whatYouNeedToDo.explanation }}</p>
      <p class="govuk-body">{{ content.whatYouNeedToDo.reviewNote }}</p>

      {{ contentSection(content.needHelp.heading, content.needHelp.text) }}

      <form action="/{{ submissionId }}/start" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {{
          govukButton({
            text: content.startButton,
            isStartButton: true
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
