{% extends "../partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('public.notFound.heading') }}</h1>
      <p class="govuk-body">{{ t('public.notFound.typed') }}</p>
      <p class="govuk-body">{{ t('public.notFound.pasted') }}</p>
      <p class="govuk-body">
        {{ t('public.notFound.linkOrButton') }}
      </p>
    </div>
  </div>
{% endblock %}
