{% extends "../partials/layout.njk" %}
{% set pageTitle = t('public.practitionerGuidance.title') %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% set feedbackFormHref = "https://portal.consentkit.com/consent/form/b2e85747-2989-41f8-bcd4-e6633bbca324/start" %}
{% set popFeedbackFormHref = "/feedback" %}
{% set surveyHref = "https://forms.office.com/Pages/ResponsePage.aspx?id=KEeHxuZx_kGp4S6MNndq2DhwigW8cRJHpDuaX58OOzlURVNLUTVEMzlGWjJMN0U1UzE5TjRHTlhDOCQlQCN0PWcu" %}
{% block header %}
  {{
    mojHeader({
      organisationLabel: {
        text: "HMPPS",
        href: "/"
      },
      serviceLabel: {
        html: t('public.practitionerGuidance.headerServiceLabel'),
        href: "/"
      }
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body">
      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body">
        {{ t('public.practitionerGuidance.intro') }}
      </p>

      <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.meaning.heading') }}</h2>

      <p class="govuk-body">
        {{ t('public.practitionerGuidance.meaning.body') }}
      </p>


        <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.howUse.heading') }}</h2>
        <p class="govuk-body">{{ t('public.practitionerGuidance.howUse.intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.practitionerGuidance.howUse.items.replace') }}</li>
        <li>{{ t('public.practitionerGuidance.howUse.items.addition') }}</li>
        </ul>
        <p class="govuk-body">{{ t('public.practitionerGuidance.howUse.notAll') }}</p>
        <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.notEligible.heading') }}</h2>
        <p class="govuk-body">{{ t('public.practitionerGuidance.notEligible.body') }}</p>
        <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.replace.heading') }}</h2>


        <p class="govuk-body">{{ t('public.practitionerGuidance.replace.monthly') }}</p>
        <p class="govuk-body">{{ t('public.practitionerGuidance.replace.judgement') }}</p>


        <p class="govuk-body">{{ t('public.practitionerGuidance.replace.suitable') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('public.practitionerGuidance.replace.items.stable') }}</li>
              <li>{{ t('public.practitionerGuidance.replace.items.time') }}</li>
              <li>{{ t('public.practitionerGuidance.replace.items.relationship') }}</li>
              <li>{{ t('public.practitionerGuidance.replace.items.agreed') }}</li>
              <li>{{ t('public.practitionerGuidance.replace.items.digital') }}</li>
              <li>{{ t('public.practitionerGuidance.replace.items.phone') }}</li>
              <li>{{ t('public.practitionerGuidance.replace.items.noRestrictions') }}</li>
              <li>{{ t('public.practitionerGuidance.replace.items.noDependencies') }}</li>
          </ul> <p>{{ t('public.practitionerGuidance.replace.someOnly') | safe }}
                       </p>
                       <p>{{ t('public.practitionerGuidance.replace.approval') }}</p>


        <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.excluded.heading') }}</h2>
        <p class="govuk-body">{{ t('public.practitionerGuidance.excluded.intro') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('public.practitionerGuidance.excluded.items.suspended') }}</li>
              <li>{{ t('public.practitionerGuidance.excluded.items.highRisk') }}</li>
              <li>{{ t('public.practitionerGuidance.excluded.items.mappa') }}</li>
              <li>{{ t('public.practitionerGuidance.excluded.items.nsd') }}</li>
              <li>{{ t('public.practitionerGuidance.excluded.items.youth') }}</li>
              <li>{{ t('public.practitionerGuidance.excluded.items.child') }}</li>
              <li>{{ t('public.practitionerGuidance.excluded.items.domesticAbuse') }}</li>
              <li>{{ t('public.practitionerGuidance.excluded.items.sexual') }}</li>
          </ul>
       <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.addition.heading') }}</h2>
        <p class="govuk-body">{{ t('public.practitionerGuidance.addition.extra') }}</p>
        <p class="govuk-body">{{ t('public.practitionerGuidance.addition.suitable') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('public.practitionerGuidance.addition.items.additional') }}</li>
              <li>{{ t('public.practitionerGuidance.addition.items.agree') }}</li>
              <li>{{ t('public.practitionerGuidance.addition.items.digital') }}</li>
              <li>{{ t('public.practitionerGuidance.addition.items.phone') }}</li>
              <li>{{ t('public.practitionerGuidance.addition.items.noRestrictions') }}</li>
              <li>{{ t('public.practitionerGuidance.addition.items.noDependencies') }}</li>
          </ul>


        <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.tailored.heading') }}</h2>
        <p>{{ t('public.practitionerGuidance.tailored.intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{ t('public.practitionerGuidance.tailored.items.feeling') }}</li>
            <li>{{ t('public.practitionerGuidance.tailored.items.support') }}</li>
        </ul>
<p>{{ t('public.practitionerGuidance.tailored.additional') }}</p>

    <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.tailored.examples.heading') }}</h3>
    <p>{{ t('public.practitionerGuidance.tailored.examples.detail') }}</p>
    <p>{{ t('public.practitionerGuidance.tailored.examples.list') }}</p>

<h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.writing.heading') }}</h2>
<h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.writing.consider.heading') }}</h3>
<p>{{ t('public.practitionerGuidance.writing.consider.different') }}</p>
  <p>{{ t('public.practitionerGuidance.writing.consider.reluctant') }}</p>
<h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.writing.shouldDo.heading') }}</h3>
<p>{{ t('public.practitionerGuidance.writing.shouldDo.think') }}</p>
<p>{{ t('public.practitionerGuidance.writing.shouldDo.youShould') }}</p>
<ul class="govuk-list govuk-list--bullet">
    <li>
    {{ t('public.practitionerGuidance.writing.shouldDo.items.appropriate') }} </li>

    <li>{{ t('public.practitionerGuidance.writing.shouldDo.items.context') }}</li>

    <li>{{ t('public.practitionerGuidance.writing.shouldDo.items.single') }}</li>

    <li>{{ t('public.practitionerGuidance.writing.shouldDo.items.simple') }}</li>

    <li>{{ t('public.practitionerGuidance.writing.shouldDo.items.check') }}</li>
</ul>


      <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.data.heading') }}</h2>
      <p class="govuk-body">
        {{ t('public.practitionerGuidance.data.use') }}
      </p>
      <p class="govuk-body">
        {{ t('public.practitionerGuidance.data.speak') | safe }}
      </p>
      <p class="govuk-body">{{ t('public.practitionerGuidance.data.privacyLink') | safe }}</p>

      <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.data.sar.heading') }}</h3>

      <p class="govuk-body">
        {{ t('public.practitionerGuidance.data.sar.body') }}
      </p>
      <p class="govuk-body">
        {{ t('public.practitionerGuidance.data.sar.email') | safe }}
      </p>

      <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.stop.heading') }}</h2>
      <p>{{ t('public.practitionerGuidance.stop.body') }}</p>
      <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.stop.wantStop.heading') }}</h3>
      <p>{{ t('public.practitionerGuidance.stop.wantStop.body') }}</p>

      <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.timeOff.heading') }}</h2>
      <p class="govuk-body">
        {{ t('public.practitionerGuidance.timeOff.intro') }}
      </p>
      <p class="govuk-body">
        {{ t('public.practitionerGuidance.timeOff.notifications') }}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.practitionerGuidance.timeOff.items.find') }}</li>
        <li>{{ t('public.practitionerGuidance.timeOff.items.review') }}</li>
        <li>{{ t('public.practitionerGuidance.timeOff.items.followUp') }}</li>
      </ul>
      <p class="govuk-body">{{ t('public.practitionerGuidance.timeOff.feedback') }}</p>

      <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.contactChange.heading') }}</h2>

      <p class="govuk-body">{{ t('public.practitionerGuidance.contactChange.body') }}</p>

      <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.concerns.heading') }}</h2>

      <p class="govuk-body">
        {{ t('public.practitionerGuidance.concerns.body') }}
      </p>

      <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.concerns.wantStop.heading') }}</h3>

      <p class="govuk-body">
        {{ t('public.practitionerGuidance.concerns.wantStop.body') }}
      </p>

      <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.concerns.failed.heading') }}</h3>

      <p class="govuk-body">{{ t('public.practitionerGuidance.concerns.failed.intro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.practitionerGuidance.concerns.failed.items.contactChanged') }}</li>
        <li>{{ t('public.practitionerGuidance.concerns.failed.items.lostAccess') }}</li>
        <li>{{ t('public.practitionerGuidance.concerns.failed.items.notDelivered') }}</li>
        <li>{{ t('public.practitionerGuidance.concerns.failed.items.wrong') }}</li>
      </ul>

      <h4 class="govuk-heading-s">{{ t('public.practitionerGuidance.concerns.whatToDo.heading') }}</h4>

      <p class="govuk-body">{{ t('public.practitionerGuidance.concerns.whatToDo.intro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.practitionerGuidance.concerns.whatToDo.items.contact') }}</li>
        <li>{{ t('public.practitionerGuidance.concerns.whatToDo.items.stop') }}</li>
        <li>{{ t('public.practitionerGuidance.concerns.whatToDo.items.raise') }}</li>
        <li>
          {{ t('public.practitionerGuidance.concerns.whatToDo.items.speak') }}
        </li>
      </ul>
      <p class="govuk-body">
        {{ t('public.practitionerGuidance.concerns.whatToDo.notLinked') }}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.practitionerGuidance.concerns.whatToDo.options.warning') }}</li>
        <li>
          {{ t('public.practitionerGuidance.concerns.whatToDo.options.stopAfterSecond') }}
        </li>
      </ul>

      <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.contact.heading') }}</h2>

      <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.contact.mailbox.heading') }}</h3>

      <p class="govuk-body">
        {{ t('public.practitionerGuidance.contact.mailbox.intro') | safe }}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.practitionerGuidance.contact.mailbox.items.notWorking') }}</li>
        <li>{{ t('public.practitionerGuidance.contact.mailbox.items.notAsExpected') }}</li>
        <li>{{ t('public.practitionerGuidance.contact.mailbox.items.struggling') }}</li>
        <li>{{ t('public.practitionerGuidance.contact.mailbox.items.delete') }}</li>
        <li>{{ t('public.practitionerGuidance.contact.mailbox.items.sar') }}</li>
      </ul>

      <h2 class="govuk-heading-l">{{ t('public.practitionerGuidance.givingFeedback.heading') }}</h2>

      <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.givingFeedback.thoughts.heading') }}</h3>
      <p>{{ t('public.practitionerGuidance.givingFeedback.thoughts.body', { surveyHref: surveyHref }) | safe }}</p>
      <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.givingFeedback.monthly.heading') }}</h3>


      <p class="govuk-body">
        {{ t('public.practitionerGuidance.givingFeedback.monthly.meetings') }}
      </p>

      <p class="govuk-body">
        {{ t('public.practitionerGuidance.givingFeedback.monthly.form', { feedbackFormHref: feedbackFormHref }) | safe }}
      </p>



      <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.givingFeedback.caseload.heading') }}</h3>

      <p class="govuk-body">
        {{ t('public.practitionerGuidance.givingFeedback.caseload.form', { popFeedbackFormHref: popFeedbackFormHref }) | safe }}
      </p>
      <p class="govuk-body">{{ t('public.practitionerGuidance.givingFeedback.caseload.access') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.practitionerGuidance.givingFeedback.caseload.items.completing') }}</li>
        <li>{{ t('public.practitionerGuidance.givingFeedback.caseload.items.link') }}</li>
      </ul>
      <p class="govuk-body">
        {{ t('public.practitionerGuidance.givingFeedback.caseload.complete') }}
      </p>
      <p class="govuk-body">
        {{ t('public.practitionerGuidance.givingFeedback.caseload.other') }}
      </p>
      <p class="govuk-body">{{ t('public.practitionerGuidance.givingFeedback.caseload.update') }}</p>

      <h3 class="govuk-heading-m">{{ t('public.practitionerGuidance.givingFeedback.whatWeDo.heading') }}</h3>
      <p class="govuk-body">
        {{ t('public.practitionerGuidance.givingFeedback.whatWeDo.body') }}
      </p>
    </div>
  </div>
{% endblock %}
