{% extends "../partials/layout.njk" %}
{% set pageTitle = t('public.privacy.title') %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ t('public.privacy.heading') }}</h1>
    </div>
      <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">{{ t('public.privacy.purpose.heading') }}</h2>
      <p class="govuk-body">{{ t('public.privacy.purpose.intro') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.privacy.purpose.items.personalData') }}</li>
        <li>{{ t('public.privacy.purpose.items.access') }}</li>
        <li>{{ t('public.privacy.purpose.items.complain') }}</li>
      </ul>
      <p class="govuk-body">{{ t('public.privacy.purpose.hmpps') }}
      </p>
      <p class="govuk-body">
        {{ t('public.privacy.purpose.collect') }}
      </p>

      <h2 class="govuk-heading-l">{{ t('public.privacy.definitions.heading') }}</h2>
      <p class="govuk-body">{{ t('public.privacy.definitions.controller') }}</p>
      <p class="govuk-body">
        {{ t('public.privacy.definitions.personalData') }}
      </p>
      <p class="govuk-body">
        {{ t('public.privacy.definitions.moj') }}
      </p>

      <h2 class="govuk-heading-l">{{ t('public.privacy.types.heading') }}</h2>
      <p class="govuk-body">
        {{ t('public.privacy.types.intro') }}
      </p>
      <p class="govuk-body">{{ t('public.privacy.types.includes') }}
        <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('public.privacy.types.items.nameAddress') }}</li>
        <li>{{ t('public.privacy.types.items.phone') }}</li>
        <li>{{ t('public.privacy.types.items.dob') }}</li>
        <li>{{ t('public.privacy.types.items.photoVideo') }}</li>
        <li>{{ t('public.privacy.types.items.feelings') }}</li>
        <li>{{ t('public.privacy.types.items.location') }}</li>
        <li>{{ t('public.privacy.types.items.feedback') }}</li>
      </ul>

      <h3 class="govuk-heading-m">{{ t('public.privacy.purposeProcessing.heading') }}</h3>
      <p class="govuk-body">{{ t('public.privacy.purposeProcessing.legalBasis') }}</p>
      <p class="govuk-body">
        {{ t('public.privacy.purposeProcessing.decisions') }}
      </p>
      <p class="govuk-body">
        {{ t('public.privacy.purposeProcessing.lawfulDuty') }}
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('public.privacy.purposeProcessing.laws.prisonAct') }}</li>
          <li>{{ t('public.privacy.purposeProcessing.laws.prisonRules') }}</li>
          <li>{{ t('public.privacy.purposeProcessing.laws.offenderAct') }}</li>
          <li>{{ t('public.privacy.purposeProcessing.laws.childrensAct') }}</li>
        </ul>
      </p>

      <h2 class="govuk-heading-l">{{ t('public.privacy.use.heading') }}</h2>
      <p class="govuk-body">{{ t('public.privacy.use.body') }}</p>

      <h2 class="govuk-heading-l">{{ t('public.privacy.sharing.heading') }}</h2>
      <p class="govuk-body">
        {{ t('public.privacy.sharing.intro') }}
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('public.privacy.sharing.items.nhs') }}</li>
          <li>{{ t('public.privacy.sharing.items.socialServices') }}</li>
          <li>{{ t('public.privacy.sharing.items.employment') }}</li>
          <li>{{ t('public.privacy.sharing.items.counsellors') }}</li>
          <li>{{ t('public.privacy.sharing.items.drugAlcohol') }}</li>
          <li>{{ t('public.privacy.sharing.items.mentalHealth') }}</li>
          <li>{{ t('public.privacy.sharing.items.housing') }}</li>
          <li>{{ t('public.privacy.sharing.items.specialist') }}</li>
        </ul>
      </p>
      <p class="govuk-body">
        {{ t('public.privacy.sharing.tellBefore') }}
      </p>

      <h2 class="govuk-heading-l">{{ t('public.privacy.askingForData.heading') }}</h2>
      <p class="govuk-body">
        {{ t('public.privacy.askingForData.intro') }}
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('public.privacy.askingForData.items.refuse') }}</li>
          <li>{{ t('public.privacy.askingForData.items.discuss') }}</li>
          <li>{{ t('public.privacy.askingForData.items.protect') }}</li>
        </ul>
      </p>
      <p class="govuk-body">{{ t('public.privacy.askingForData.possession') }}</p>



      <p class="govuk-body">
        {{ t('public.privacy.askingForData.weWill') }}
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('public.privacy.askingForData.promises.shareOnlyIfNeeded') }}</li>
          <li>{{ t('public.privacy.askingForData.promises.notKeepTooLong') }}</li>
          <li>{{ t('public.privacy.askingForData.promises.notForSale') }}</li>
          <li>{{ t('public.privacy.askingForData.promises.considerRequest') }}</li>
        </ul>
      </p>
      <p class="govuk-body">
        {{ t('public.privacy.askingForData.survey') }}
      </p>


      <p class="govuk-body">
        {{ t('public.privacy.askingForData.moreInfo') | safe }}
      </p>

      <h2 class="govuk-heading-l">{{ t('public.privacy.retention.heading') }}</h2>
      <p class="govuk-body">{{ t('public.privacy.retention.policy') | safe }}</p>

      <p class="govuk-body">
        {{ t('public.privacy.retention.details') }}
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t('public.privacy.retention.items.agreements') }}</li>
          <li>{{ t('public.privacy.retention.items.instructions') }}</li>
          <li>{{ t('public.privacy.retention.items.checkAccurate') }}</li>
          <li>{{ t('public.privacy.retention.items.complaint') }}</li>
        </ul>
      </p>
      <p class="govuk-body">{{ t('public.privacy.retention.moreInfo') }}</p>


      <h2 class="govuk-heading-l">{{ t('public.privacy.access.heading') }}</h2>
      <p class="govuk-body">{{ t('public.privacy.access.body') }}</p>

      <h3 class="govuk-heading-m">{{ t('public.privacy.access.sar.heading') }}</h3>
      <p class="govuk-body">{{ t('public.privacy.access.sar.body') }}</p>
      <p class="govuk-body">{{ t('public.privacy.access.sar.contact') }}</p>

      <h2 class="govuk-heading-l">{{ t('public.privacy.contact.heading') }}</h2>
      <p class="govuk-body">{{ t('public.privacy.contact.onBehalf') }}</p>
      <p class="govuk-body">
        {{ t('public.privacy.contact.address') | safe }}
      </p>
      <p class="govuk-body">{{ t('public.privacy.contact.dpo') | safe }}


      <h2 class="govuk-heading-l">{{ t('public.privacy.complaints.heading') }}</h2>
      <p class="govuk-body">{{ t('public.privacy.complaints.body') }}</p>
      <p class="govuk-body">
        {{ t('public.privacy.complaints.address') | safe }}
      </p>
      </div>
  </div>
{% endblock %}
