{% extends "../layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLink }) }}
{% endblock %}

{% block pageContent %}
  {% if errorMessage %}
    {{
      govukNotificationBanner({
        html: '<p class="govuk-body">' + errorMessage.title + '</p>',
        type: 'error',
        titleId: 'error-title'
      })
    }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Personal details</h1>
      <p class="govuk-body">We will use your personal details to make sure you are signed up to use this service.</p>
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{
          govukInput({
            label: {
              text: "First name",
              classes: "govuk-label--m"
            },
            classes: "govuk-!-width-two-thirds",
            id: "firstName",
            name: "firstName",
            autocomplete: "given-name",
            errorMessage: validationErrors | findError("firstName"),
            value: formData["firstName"]
          })
        }}

        {{
          govukInput({
            label: {
              text: "Last name",
              classes: "govuk-label--m"
            },
            classes: "govuk-!-width-two-thirds",
            id: "lastName",
            name: "lastName",
            autocomplete: "family-name",
            errorMessage: validationErrors | findError("lastName"),
            value: formData["lastName"]
          })
        }}

        {{
          govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "Date of birth",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "For example, 27 3 2007"
            },
            errorMessage: validationErrors | findError("dob"),
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: formData["day"],
                autocomplete: "bday-day"
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: formData["month"],
                autocomplete: "bday-month"
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: formData["year"],
                autocomplete: "bday-year"
              }
            ]
          })
        }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
