name: Build and deploy to environment

on:
    workflow_dispatch:
        inputs:
            environment:
                description: Environment to deploy to
                type: choice
                required: true
                options:
                    - dev
                    - test
                default: "test"

permissions:
    contents: read
    packages: write

jobs:
    node_build:
        name: node build
        uses: ministryofjustice/hmpps-github-actions/.github/workflows/node_build.yml@v2 # WORKFLOW_VERSION
        secrets: inherit
    node_unit_tests:
        name: node unit tests
        uses: ministryofjustice/hmpps-github-actions/.github/workflows/node_unit_tests.yml@v2 # WORKFLOW_VERSION
        needs: [node_build]
        secrets: inherit
    node_integration_tests:
        name: node integration tests
        uses: ministryofjustice/hmpps-github-actions/.github/workflows/node_integration_tests.yml@v2 # WORKFLOW_VERSION
        needs: [node_build]
        secrets: inherit
    helm_lint:
        name: helm lint
        uses: ministryofjustice/hmpps-github-actions/.github/workflows/test_helm_lint.yml@v2 # WORKFLOW_VERSION
        secrets: inherit
        with:
            environment: ${{ inputs.environment }}
    build:
        name: Build docker image
        uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2 # WORKFLOW_VERSION
        needs:
            - node_integration_tests
            - node_unit_tests
        with:
            docker_registry: "ghcr.io"
            registry_org: "ministryofjustice"
            push: true
            docker_multiplatform: false
    deploy:
        name: Deploy to ${{ inputs.environment }}
        needs:
            - build
            - helm_lint
        uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
        secrets: inherit
        with:
            environment: ${{ inputs.environment }}
            app_version: "${{ needs.build.outputs.app_version }}"
